@animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1); // 慢 - 快 - 慢
@animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1); // 快 - 慢
@animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1); // 慢 - 快

@animation-curve-default: @animation-curve-fast-out-slow-in;