@font-family-base: Roboto, Noto, Helvetica, Arial, sans-serif;
@font-family-code: Consolas, "Liberation Mono", Menlo, Courier, monospace;
@body-background-color: #fff;
@body-text-color: rgba(0, 0, 0, 0.87);
@screen-sm-font-size: 14px;
@screen-md-font-size: 14.5px;
@screen-lg-font-size: 15px;

@z-index-navbar: 10;
@z-index-mask: 100;
@z-index-drawer: 200;
@z-index-dialog: 1000;

// 深色颜色的不透明度
@opacity-black-text: 0.87;
@opacity-black-secondary: 0.54;
@opacity-black-disabled: 0.38;
@opacity-black-divider: 0.12;

// 浅色颜色的不透明度
@opacity-white-text: 1;
@opacity-white-secondary: 0.7;
@opacity-white-disabled: 0.5;
@opacity-white-divider: 0.12;