@font-family-base: Roboto, Noto, Helvetica, Arial, sans-serif;
@font-family-code: Consolas, "Liberation Mono", Menlo, Courier, monospace;
@body-background-color: #fff;
@body-text-color: rgba(0, 0, 0, 0.87);
@screen-sm-font-size: 14px;
@screen-md-font-size: 14.5px;
@screen-lg-font-size: 15px;

@z-index-navbar: 10;
@z-index-mask: 100;
@z-index-drawer: 200;
@z-index-dialog: 1000;

@opacity-primary: 0.87;
@opacity-secondary: 0.54;
@opacity-disabled: 0.38;
@opacity-dividers: 0.12;