//间隔
@grid-gutter-8: 4px;
@grid-gutter-16: 8px;
@grid-gutter-24: 12px;
@grid-gutter-40: 20px;
@grid-gutter-default: @grid-gutter-16;

//响应式断点
@screen-sm-max: 479px;
@screen-md-min: 480px;
@screen-md-max: 839px;
@screen-lg-min: 840px;