@navbar-height-sm: 56px;
@navbar-height-md: 60px;
@navbar-height-lg: 64px;

@navbar-transition-duration: .3s;

@navbar-divider-width: 1px;
@navbar-divider-color: rgba(255, 255, 255, 0.2);

@navbar-title-font-size: 20px;
@navbar-title-max-width: 138px;