/**
 * =============================================================================
 * ************   Fab 浮动操作按钮   ************
 * =============================================================================
 */

@button-fab-size: 56px;
@button-fab-size-mini: 40px;

.md-btn-fab,
.md-btn-fab-mini {
  border-radius: 50%;
  font-size: 24px;
  margin: auto;
  padding: 0 !important;
  overflow: hidden;
  line-height: normal !important;
  .md-shadow(6);

  &:hover{
    .md-shadow(8);
  }

  &:active {
    .md-shadow(12);
  }
}

.md-btn-fab {
  height: @button-fab-size;
  width: @button-fab-size;
  min-width: @button-fab-size;
}

.md-btn-fab-mini {
  height: @button-fab-size-mini;
  width: @button-fab-size-mini;
  min-width: @button-fab-size-mini;
}

.md-btn-fab,
.md-btn-fab-mini {
  .md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
  }
}

/* 固定到右下角的 FAB 按钮 */
.md-btn-fab-fixed,
.md-btn-fab-wrapper {
  position: fixed !important;

  /* 手机平板上距离屏幕右下角 16px */
  right: 16px;
  bottom: 16px;

  @media (min-width: @screen-md-min) {
    /* 电脑上距离屏幕右下角 24px */
    right: 24px;
    bottom: 24px;
  }
}

/* 含菜单的浮动操作按钮 */
.md-btn-fab-wrapper {
  position: relative;
  width: @button-fab-size;
  height: @button-fab-size;
  padding-top: 8px;

  .md-btn-fab-dial {
    visibility: visible;
    position: absolute;
    left: 0;
    right: 0;
    bottom: @button-fab-size + 8px;
    text-align: center;

    .md-btn {
      margin: 8px 0;
      transform: scale(0);
      opacity: 0;
    }

    &.md-btn-fab-dial-show {
      .md-btn {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}