@appbar-height-xs: 56px;
@appbar-height-sm: 60px;
@appbar-height-md: 64px;

@appbar-transition-duration: .3s;

@appbar-title-font-size: 18px;
@appbar-title-max-width: 138px;

@appbar-icon-width: 48px;
@appbar-icon-mini-width: 32px;