// 卡片
// =============================================================================

// 卡片圆角
@card-boder-radius: 2px;
// 卡片阴影深度
@card-shadow: 2;
// 卡片 hover 状态阴影深度
@card-shadow-hover: 8;
// 卡片底部外边距
@card-margin-bottom: 8px;
// 卡片阴影深度变化时间
@card-transition-duration: .25s;