//间隔
@grid-gap-8: 8px;
@grid-gap-16: 16px;
@grid-gap-24: 24px;
@grid-gap-40: 40px;

//响应式断点
@screen-xs-max: 599px;

@screen-sm-min: 600px;
@screen-sm-max: 1023px;

@screen-md-min: 1024px;
@screen-md-max: 1439px;

@screen-lg-min: 1440px;
@screen-lg-max: 1919px;

@screen-xl-min: 1920px;
