//间隔
@grid-gap-8: 8px;
@grid-gap-16: 16px;
@grid-gap-24: 24px;
@grid-gap-40: 40px;
@grid-gap-default: @grid-gap-16;

//响应式断点
@screen-sm-max: 479px;
@screen-md-min: 480px;
@screen-md-max: 839px;
@screen-lg-min: 840px;