// Tooltip 工具提示
// =============================================================================

// 字体大小
@snackbar-font-size: 14px;
// 字体颜色
@snackbar-text-color: #fff;
// 背景色
@snackbar-background: #323232;
// 内边距
@snackbar-padding: 0 24px 0 24px;
// 最小高度
@snackbar-min-height: 48px;
// 最小行高
@snackbar-line-height: 20px;

// 最小宽度
@snackbar-min-width: 288px;
// 最大宽度
@snackbar-max-width: 568px;
// 圆角
@snackbar-radius: 2px;

// transition 参数
@snackbar-transition-duration: 0.3s;
@snackbar-transition-timing-function: @animation-curve-default;