@color-grey-50: #FAFAFA;
@color-grey-100: #F5F5F5;
@color-grey-200: #EEEEEE;
@color-grey-300: #E0E0E0;
@color-grey-400: #BDBDBD;
@color-grey-500: #9E9E9E;
@color-grey-600: #757575;
@color-grey-700: #616161;
@color-grey-800: #424242;
@color-grey-900: #212121;
@color-grey: @color-grey-500;

@color-grey-hover: @color-grey-600;
@color-grey-active: @color-grey-700;

.color-mixin(~"grey", 0);

.md-color-grey-600,
.md-color-grey-700,
.md-color-grey-800,
.md-color-grey-900{
  color: @color-white;
}