@color-light-green-50: #F1F8E9;
@color-light-green-100: #DCEDC8;
@color-light-green-200: #C5E1A5;
@color-light-green-300: #AED581;
@color-light-green-400: #9CCC65;
@color-light-green-500: #8BC34A;
@color-light-green-600: #7CB342;
@color-light-green-700: #689F38;
@color-light-green-800: #558B2F;
@color-light-green-900: #33691E;
@color-light-green-a100: #CCFF90;
@color-light-green-a200: #B2FF59;
@color-light-green-a400: #76FF03;
@color-light-green-a700: #64DD17;
@color-light-green: @color-light-green-500;

@color-light-green-hover: @color-light-green-600;
@color-light-green-active: @color-light-green-700;

.color-mixin(~"light-green");

.md-color-light-green-700,
.md-color-light-green-800,
.md-color-light-green-900{
  color: @color-white;
}