@color-light-blue-50: #E1F5FE;
@color-light-blue-100: #B3E5FC;
@color-light-blue-200: #81D4FA;
@color-light-blue-300: #4FC3F7;
@color-light-blue-400: #29B6F6;
@color-light-blue-500: #03A9F4;
@color-light-blue-600: #039BE5;
@color-light-blue-700: #0288D1;
@color-light-blue-800: #0277BD;
@color-light-blue-900: #01579B;
@color-light-blue-a100: #80D8FF;
@color-light-blue-a200: #40C4FF;
@color-light-blue-a400: #00B0FF;
@color-light-blue-a700: #0091EA;
@color-light-blue: @color-light-blue-500;

@color-light-blue-hover: @color-light-blue-600;
@color-light-blue-active: @color-light-blue-700;

.color-mixin(~"light-blue");

.md-color-light-blue-600,
.md-color-light-blue-700,
.md-color-light-blue-800,
.md-color-light-blue-900,
.md-color-light-blue-a700{
  color: @color-white;
}