/* Helper 辅助类
   ========================================================================== */

/* 向左浮动 */
.md-float-left {
  float: left !important;
}

/* 向右浮动 */
.md-float-right {
  float: right !important;
}

/* 水平居中 */
.md-center {
  .md-center();
}

/* 垂直居中 */
.md-valign {
  .md-valign();
}

/* 文本左对齐 */
.md-text-left {
  text-align: left;
}

/* 文本居中对齐 */
.md-text-center {
  text-align: center;
}

/* 文本向右对齐 */
.md-text-right {
  text-align: right;
}

/* 清除浮动 */
.md-clearfix {
  .md-clearfix();
}

/* display: inline */
.md-inline {
  display: inline !important;
}

/* display: block */
.md-block {
  display: block !important;
}

/* display: inline-block */
.md-inline-block {
  display: inline-block !important;
}

/* 隐藏元素 */
.md-hidden,
[hidden] {
  display: none !important;
}

/* 使元素不可见 */
.md-invisible {
  visibility: hidden;
}

/* Responsive utilities 响应式工具
   ========================================================================== */

/* 在特定屏幕的特备上隐藏 */
@media (max-width: @screen-xs-max) {
  .md-hidden-xs {
    display: none !important;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .md-hidden-sm {
    display: none !important;
  }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .md-hidden-md {
    display: none !important;
  }
}
@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
  .md-hidden-lg {
    display: none !important;
  }
}
@media (min-width: @screen-xl-min) {
  .md-hidden-xl {
    display: none !important;
  }
}

/* 在比特定屏幕小的设备上隐藏 */
@media (max-width: @screen-xs-max) {
  .md-hidden-xs-down {
    display: none !important;
  }
}
@media (max-width: @screen-sm-max) {
  .md-hidden-sm-down {
    display: none !important;
  }
}
@media (max-width: @screen-md-max) {
  .md-hidden-md-down {
    display: none !important;
  }
}
@media (max-width: @screen-lg-max) {
  .md-hidden-lg-down {
    display: none !important;
  }
}
.md-hidden-xl-down {
  display: none !important;
}

/* 在比特定屏幕大的设备上隐藏 */
.md-hidden-xs-up {
  display: none !important;
}
@media (min-width: @screen-sm-min) {
  .md-hidden-sm-up {
    display: none !important;
  }
}
@media (min-width: @screen-md-min) {
  .md-hidden-md-up {
    display: none !important;
  }
}
@media (min-width: @screen-lg-min) {
  .md-hidden-lg-up {
    display: none !important;
  }
}
@media (min-width: @screen-xl-min) {
  .md-hidden-xl-up {
    display: none !important;
  }
}
