@import url("~@mdui/shared/mixin.less");

:host {
  --z-index: 2500;

  display: contents;
}

.tooltip {
  position: fixed;
  z-index: var(--z-index);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  .minWidth(28);
  .maxWidth(320);
  .minHeight(28);
  .padding(6, 8);
  .borderRadius(14);
  .backgroundColor(secondary);
  .color(on-secondary);
  .typescale(body-small);
}
