{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import", "lit", "prettier"],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/member-ordering": [
      "error",
      {
        // https://typescript-eslint.io/rules/member-ordering/#default-configuration
        "default": [
          // Index signature
          "signature",
          "call-signature",

          // Fields
          "public-static-field",
          "protected-static-field",
          "private-static-field",
          "#private-static-field",

          "public-decorated-field",
          "protected-decorated-field",
          "private-decorated-field",

          "public-instance-field",
          "protected-instance-field",
          "private-instance-field",
          "#private-instance-field",

          "public-abstract-field",
          "protected-abstract-field",

          // Static initialization
          "static-initialization",

          // Constructors
          "public-constructor",
          "protected-constructor",
          "private-constructor",

          "constructor",

          // Getters, Setters
          ["public-static-get", "public-static-set"],
          ["protected-static-get", "protected-static-set"],
          ["private-static-get", "private-static-set"],
          ["#private-static-get", "#private-static-set"],

          ["public-decorated-get", "public-decorated-set"],
          ["protected-decorated-get", "protected-decorated-set"],
          ["private-decorated-get", "private-decorated-set"],

          ["public-instance-get", "public-instance-set"],
          ["protected-instance-get", "protected-instance-set"],
          ["private-instance-get", "private-instance-set"],
          ["#private-instance-get", "#private-instance-set"],

          ["public-abstract-get", "public-abstract-set"],
          ["protected-abstract-get", "protected-abstract-set"],

          // Methods
          "public-static-method",
          "protected-static-method",
          "private-static-method",
          "#private-static-method",

          "public-decorated-method",
          "protected-decorated-method",
          "private-decorated-method",

          "public-instance-method",
          "protected-instance-method",
          "private-instance-method",
          "#private-instance-method",

          "public-abstract-method",
          "protected-abstract-method"
        ]
      }
    ],
    "prettier/prettier": "error",
    "grouped-accessor-pairs": ["error", "getBeforeSet"],
    "import/no-unresolved": "off",
    "import/extensions": ["error", "always", { "ignorePackages": true }],
    "import/no-default-export": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "lit",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "lit/**",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@mdui/jq/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@mdui/shared/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@mdui/icons/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "alphabetize": {
          "order": "asc"
        },
        "pathGroupsExcludedImportTypes": ["type"],
        "warnOnUnassignedImports": true
      }
    ]
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["scripts/**/*.ts", "scripts/**/*.js"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
