{
  "extends": [
    "stylelint-config-standard"
  ],
  "overrides": [
    {
      "files": [
        "packages/**/*.less"
      ],
      "customSyntax": "postcss-less"
    }
  ],
  "rules": {
    "no-duplicate-selectors": null,
    "font-family-no-missing-generic-family-keyword": null,
    "color-function-notation": null,
    "no-descending-specificity": null,
    "function-no-unknown": null,
    "media-feature-range-notation": "prefix"
  }
}
