{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "overrides": [
    {
      "files": ["packages/**/*.less"],
      "customSyntax": "postcss-less"
    }
  ],
  "rules": {
    "no-duplicate-selectors": null,
    "max-line-length": null
  }
}
