{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order",
    "stylelint-config-prettier"
  ],
  "rules": {
    "no-duplicate-selectors": null,
    "no-descending-specificity": null
  }
}
