/**
 * =============================================================================
 * ************   Typo 排版   ************
 * =============================================================================
 */

.md-theme-layout-dark {
  .md-typo {

    /* blockquote */
    blockquote {
      border-left-color: #666;
    }

    /* mark */
    mark {
      background: #aaa;
      border-bottom-color: #bbb;
    }

    /* code */
    code {
      background-color: #424242;
      color: @color-red-100;
    }

    /* pre */
    pre {
      background: #424242;
      border-color: #666;
    }

  }
}