/**
 * =============================================================================
 * ************   Typography 排版   ************
 * =============================================================================
 */

/* .md-typo-display-4 */
.md-typo-display-4,
.md-typo-display-4-opacity {
  .md-typo-display-4();
}
.md-typo-display-4-opacity {
  ._md-typo-display-4-opacity();
}

/* .md-typo-display-3 */
.md-typo-display-3,
.md-typo-display-3-opacity {
  .md-typo-display-3();
}
.md-typo-display-3-opacity {
  ._md-typo-display-3-opacity();
}

/* .md-typo-display-2 */
.md-typo-display-2,
.md-typo-display-2-opacity {
  .md-typo-display-2();
}
.md-typo-display-2-opacity {
  ._md-typo-display-2-opacity();
}

/* .md-typo-display-1 */
.md-typo-display-1,
.md-typo-display-1-opacity {
  .md-typo-display-1();
}
.md-typo-display-1-opacity {
  ._md-typo-display-1-opacity();
}

/* .md-typo-headline */
.md-typo-headline,
.md-typo-headline-opacity {
  .md-typo-headline();
}
.md-typo-headline-opacity {
  ._md-typo-headline-opacity();
}

/* .md-typo-title */
.md-typo-title,
.md-typo-title-opacity {
  .md-typo-title();
}
.md-typo-title-opacity {
  ._md-typo-title-opacity();
}

.md-typo-subheading,
.md-typo-subheading-opacity {
  .md-typo-subheading();
}
.md-typo-subheading-opacity {
  ._md-typo-subheading-opacity();
}

.md-typo-body-2,
.md-typo-body-2-opacity {
  .md-typo-body-2();
}
.md-typo-body-2-opacity {
  ._md-typo-body-2-opacity();
}

.md-typo-body-1,
.md-typo-body-1-opacity {
  .md-typo-body-1();
}
.md-typo-body-1-opacity {
  ._md-typo-body-1-opacity();
}

.md-typo-caption,
.md-typo-caption-opacity {
  .md-typo-caption();
}
.md-typo-caption-opacity {
  ._md-typo-caption-opacity();
}

.md-typo {
  line-height: 1.8;

  address, caption, cite, code, dfn, th {
    font-style: normal;
    font-weight: 400;
  }

  caption, th {
    text-align: left;
  }

  q:before, q:after {
    content: '';
  }

  pre, code, kbd, samp, pre tt {
    font-family: Consolas, Courier, 'Courier New', monospace;
  }

  figcaption {
    font-size: 80%;
    opacity: @opacity-black-secondary;
  }

  [draggable] {
    cursor: move;
  }

  p, pre, ul, ol, dl, form, hr, table, figure {
    margin: 0 0 1.2em 0;
  }


  /* a */
  a {
    .md-text-color(@default-accent-color-name, a200);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:before {
      position: absolute;
      top: auto;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      .md-background-color(@default-accent-color-name, a200);
      content: ' ';
      transition: all 0.2s;
      backface-visibility: hidden;
      transform: scaleX(0);
    }

    &:hover:before,
    &:focus:before {
      transform: scaleX(1);
    }
  }

  /* small */
  small {
    font-size: 80%;
  }

  /* blockquote */
  blockquote {
    font-weight: 400;
    border-left: 4px solid rgba(0, 0, 0, @opacity-black-divider);
    padding-left: 1em;
    margin: 1em 3em 1em 2em;
    @media only screen and ( max-width: @screen-xs-max ) {
      margin: 1em 0;
    }

    footer {
      opacity: @opacity-black-secondary;
      font-size: 86%;
    }
  }

  /* mark */
  mark {
    background: #fffdd1;
    border-bottom: 1px solid #ffedce;
    padding: 2px;
    margin: 0 5px;
  }

  /* h1 - h6 */
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: inherit;
    font-family: inherit;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    line-height: 1.35;

    small {
      font-size: 65%;
      line-height: 1;
      font-weight: 400;
      opacity: @opacity-black-secondary;
    }
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }

  /* code */
  code {
    padding: 2px 6px;
    color: #c7254e;
    background-color: #f7f7f9;
    border-radius: 2px;
  }

  /* pre code */
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }

  /* abbr */
  abbr[title] {
    cursor: help;
    text-decoration: none;
    border-bottom: 1px dotted;
  }

  /* ins */
  ins {
    text-decoration: none;
    border-bottom: 1px solid ;
  }

  /* u */
  u {
    text-decoration: none;
    border-bottom: 1px solid;
  }

  /* del */
  del {
    text-decoration: line-through;
  }

  /* hr */
  hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, @opacity-black-divider);
    margin-bottom: 0.8em;
    height: 10px;
  }

  /* pre */
  pre {
    background: #f8f8f8;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 12px 16px;
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }

  /* kbd */
  kbd {
    padding: 2px 6px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 2px;
  }

  /* ul / ol */
  ul {
    padding-left: 2em;
    list-style: disc;
  }
  ol {
    list-style: decimal;
    padding-left: 2em;
  }
  li ul,
  li ol {
    margin: 0.8em 0;
  }
  li ul {
    list-style: circle;
  }

  /* img */
  img {
    max-width: 100%;
  }

  /* 去掉各Table cell 的边距并让其边重合 */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* 同 ul/ol，在文章中应用 table 基本格式 */
  table th, table td, th, td, table caption {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    color: #666;
  }

  table th, th {
    background: #fbfbfb;
  }

  table thead th, thead th {
    background: #f1f1f1;
  }

  table caption {
    border-bottom: none;
  }
}


/**
 * =============================================================================
 * ************   Typo 强调色   ************
 * =============================================================================
 */
& {
  .loop-accent-theme(@counter-color) when (@counter-color > 0) {
    .loop-accent-theme((@counter-color - 1));
    @colorName: extract(@globalAccentColors, @counter-color);

    .md-theme-accent-@{colorName} {
      .md-typo {
        a {
          .md-text-color(@colorName, a200);

          &:before {
            .md-background-color(@colorName, a200);
          }
        }
      }
    }

  }
  .loop-accent-theme(length(@globalAccentColors));
}


/**
 * =============================================================================
 * ************   Typo dark   ************
 * =============================================================================
 */
.md-theme-layout-dark when (@globalLayoutDark = true) {
  .md-typo {

    blockquote {
      border-left-color: rgba(255, 255, 255, @opacity-white-divider);

      footer {
        opacity: @opacity-white-secondary;
      }
    }

    mark {
      background: #aaa;
      border-bottom-color: #bbb;
    }

    code {
      background-color: #424242;
      color: @color-red-100;
    }

    pre {
      background: #424242;
      border-color: #666;
    }

    kbd {
      background: #424242;
    }

    hr {
      border-color: rgba(255, 255, 255, @opacity-white-divider);
    }

  }
}