/**
 * =============================================================================
 * ************   Text Field 文本框   ************
 * =============================================================================
 */

/* 文本框外层 */
.md-textfield {
  position: relative;
  padding-top: 16px;
  padding-bottom: 8px;
  overflow: hidden;
}

/* 输入框 */
.md-textfield-input {
  width: 100%;
  padding: 8px 0 8px 0;
  appearance: none;
  box-sizing: border-box;
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  display: block;
  margin: 0;
  height: 36px;
  line-height: 20px;
  color: #212121;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  resize: none;
  transition: border-bottom-color .2s;
  .md-divider-bottom();

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.35);
  }

  &[disabled] {
    color: rgba(0, 0, 0, @opacity-black-disabled);
  }
}

/* 文本框 label */
.md-textfield-label {
  pointer-events: none;
  display: block;
  font-size: 16px;
  width: 100%;
  transform-origin: left;
  color: rgba(0, 0, 0, 0.65);
  transition: all .2s;
  transform: scale(0.75) translateY(0);
}

/* 表单验证错误提示 */
.md-textfield-error {
  margin-top: 8px;
  font-size: 12px;
  color: @color-red-500;
  .md-text-truncate();
  visibility: hidden;
  height: 12px;
  line-height: 12px;
}


/* 多行文本框高度自动调整
   ============== */
textarea.md-textfield-input {
  min-height: 57px;
}


/* 表单中的图标
   ========== */
.md-textfield {
  .md-icon {
    position: absolute;
    bottom: 8px;
    color: rgba(0, 0, 0, @icon-opacity-black);
    padding: 6px;

    ~ .md-textfield-label,
    ~ .md-textfield-input,
    ~ .md-textfield-error,
    ~ .md-textfield-flex-wrap {
      margin-left: 56px;
      width: calc(~"100% - 56px");
    }
  }
}

/* 聚焦状态的文本框
   ============= */
.md-textfield-focus {

  @color: 'color-@{default-color-name}-500';

  .md-textfield-input {
    border-bottom: 1px solid @@color;
    box-shadow: 0 1px 0 0 @@color;
  }

  .md-textfield-label {
    color: @@color;
  }

  .md-icon {
    color: @@color;
  }
}

/* 含有浮动标签的文本框
   ================ */
.md-textfield-floating-label {

  .md-textfield-label {
    transform: scale(1) translateY(27px);
    color: rgba(0, 0, 0, 0.35);
  }

  &.md-textfield-focus,
  &.md-textfield-not-empty {
    .md-textfield-label {
      transform: scale(0.75) translateY(0);
      color: rgba(0, 0, 0, 0.65);
    }
  }
  &.md-textfield-focus {
    .md-textfield-label {
      .md-text-color(@default-color-name);
    }
  }
}

/* 表单验证不通过
   =========== */
.md-textfield-invalid {

  .md-textfield-input {
    border-bottom: 1px solid @color-red-500 !important;
    box-shadow: 0 1px 0 0 @color-red-500 !important;
  }
  &.md-textfield-focus {
    .md-textfield-input {
      border-bottom: 1px solid @color-red-500 !important;
      box-shadow: 0 1px 0 0 @color-red-500 !important;
    }
  }

  .md-textfield-label {
    color: @color-red-500 !important;
  }
  &.md-textfield-floating-label {
    .md-textfield-label {
      color: rgba(red(@color-red-500), green(@color-red-500), blue(@color-red-500), 0.35) !important;
    }
    &.md-textfield-focus,
    &.md-textfield-not-empty {
      .md-textfield-label {
        color: @color-red-500 !important;
      }
    }
  }

  .md-textfield-error {
    visibility: visible;
  }
}

/* 禁用表单
   ====== */
.md-textfield-disabled {
  .md-textfield-label,
  .md-textfield-input,
  .md-textfield-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, @opacity-black-disabled);
  }
  .md-textfield-input {
    border-bottom: 1px dotted rgba(0, 0, 0, @opacity-black-disabled);
  }
}

/* 字数统计
   ====== */
.md-textfield-counter {
  position: absolute;
  right: 8px;
  font-size: 12px;
  bottom: 8px;
  color: rgba(0, 0, 0, @opacity-black-secondary);
  height: 12px;
  line-height: 12px;
}
// 加载 .md-textfield 元素上
.md-textfield-has-counter {
  padding-bottom: 28px;
}


/**
 * =============================================================================
 * ************   Textfield 主色   ************
 * =============================================================================
 */
& {
  .loop-primary-theme(@counter-color) when (@counter-color > 0) {
    .loop-primary-theme((@counter-color - 1));
    @colorName: extract(@globalPrimaryColors, @counter-color);

    .md-theme-primary-@{colorName} {

      @color: 'color-@{colorName}-500';

      .md-textfield-focus {

        .md-textfield-input {
          border-bottom-color: @@color;
          box-shadow: 0 1px 0 0 @@color;
        }

        .md-textfield-label {
          color: @@color;
        }

        .md-icon {
          color: @@color !important;
        }
      }

      .md-textfield-floating-label {
        &.md-textfield-focus {
          .md-textfield-label {
            color: @@color;
          }
        }
      }
    }

  }
  .loop-primary-theme(length(@globalPrimaryColors));
}


/**
 * =============================================================================
 * ************   Textfield dark   ************
 * =============================================================================
 */
.md-theme-layout-dark when (@globalLayoutDark = true) {

  // 图标颜色
  .md-textfield {
    .md-icon {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  // 输入框颜色
  .md-textfield-input {
    color: #fff;

    .md-divider-bottom-reverse();

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.35);
    }

    &[disabled] {
      color: rgba(255, 255, 255, @opacity-white-disabled);
    }
  }

  // 标签颜色
  .md-textfield-label {
    color: rgba(255, 255, 255, 0.65);
  }

  .md-textfield-floating-label {
    .md-textfield-label {
      color: rgba(255, 255, 255, 0.35);
    }
  }

  // 字数统计颜色
  .md-textfield-counter {
    color: rgba(255, 255, 255, @opacity-white-secondary);
  }
}