:host {
  display: flex;
  flex-direction: column;
}

.header {
  display: block;
}

.body {
  display: block;
  overflow: hidden;
  .transition(height, short4, emphasized);

  &.opened {
    overflow: visible;
  }

  :host([active]) & {
    .transitionDuration(medium4);
  }
}
