@color-black: #000000;

@color-black-300: #303030;
@color-black-300-is-dark: true;

@color-black-400: #212121;
@color-black-400-is-dark: true;

@color-black-500: @color-black;
@color-black-500-is-dark: true;

@color-black-600: #212121;
@color-black-600-is-dark: true;

@color-black-700: #303030;
@color-black-700-is-dark: true;