@color-white: #FFFFFF;

@color-white-300: #D5D5D5;
@color-white-300-is-dark: false;

@color-white-400: #E6E6E6;
@color-white-400-is-dark: false;

@color-white-500: @color-white;
@color-white-500-is-dark: false;

@color-white-600: #E6E6E6;
@color-white-600-is-dark: false;

@color-white-700: #D5D5D5;
@color-white-700-is-dark: false;
