/**
 * =============================================================================
 * ************   Card 卡片   ************
 * =============================================================================
 */

/* 卡片 */
.md-card {
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 8px;
  overflow: hidden;
  color: #000;
  background-color: #fff;
  .md-shadow(2);
}

/**
 * ===================== 头部，包含头像、标题、副标题
 */
.md-card-header {
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  height: 72px;
}

/* 卡片头部头像 */
.md-card-header-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
}

/* 卡片头部标题 */
.md-card-header-title {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-left: 52px;
  .md-text-truncate();
  opacity: @opacity-black-text;
}

/* 卡片头部副标题 */
.md-card-header-subtitle {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-left: 52px;
  .md-text-truncate();
  opacity: @opacity-black-secondary;
}

/**
 * =========================== 主标题区域
 */
.md-card-primary {
  position: relative;
  padding: 24px 16px 16px 16px;
}

/* 主标题区域标题 */
.md-card-primary-title {
  display: block;
  font-size: 24px;
  line-height: 36px;
  opacity: @opacity-black-text;
}

/* 主标题区域副标题 */
.md-card-primary-subtitle {
  display: block;
  font-size: 14px;
  line-height: 24px;
  opacity: @opacity-black-secondary;
}

/**
 * ============================ 内容区域
 */
.md-card-content {
  position: relative;
  padding: 16px;
  line-height: 24px;
  font-size: 14px;
}

/**
 * ============================ 卡片菜单
 */
.md-card-menu {
  position: absolute;
  top: 16px;
  right: 16px;

  .md-btn {
    margin-left: 8px;
  }
}

/**
 * =========================== 按钮区域
 */
.md-card-actions {
  .md-clearfix();
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  .md-divider-top();

  .md-btn {
    margin: 0 8px 0 0;
    max-width: 100%;
    .md-text-truncate();
  }

  .md-btn-icon {
    width: @button-height;
    height: @button-height;
    margin: 0 8px;
  }
}

/* 使按钮竖向排列 */
.md-card-actions-stacked {
  .md-btn {
    margin: 0 0 4px 0;
    display: block;
    &:last-child {
      margin: 0;
    }
  }
}

/**
 * ============================= 媒体元素区域
 */
.md-card-media {
  position: relative;
  img, video {
    display: block;
    width: 100%;
  }
}

/* 按钮区域紧跟在媒体元素后面，则去除按钮区域的上边框 */
.md-card-media + .md-card-actions {
  border-top: none;
}

/* 覆盖在媒体元素上的内容 */
.md-card-media-covered {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;

  /* 覆盖在媒体元素上的标题 */
  .md-card-primary-title {
    opacity: @opacity-white-text;
  }
  .md-card-primary-subtitle {
    opacity: @opacity-white-secondary;
  }

  /* 覆盖在媒体元素上的按钮 */
  .md-card-actions {
    border: none;
  }
}

/* 覆盖在媒体元素顶部 */
.md-card-media-covered-top {
  bottom: auto;
  top: 0;
}

/* 覆盖层透明 */
.md-card-media-covered-transparent {
  background: transparent;
}

/* 覆盖层渐变 */
.md-card-media-covered-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0));

  &.md-card-media-covered-top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0));
  }
}