/**
 * =============================================================================
 * ************   Card 卡片   ************
 * =============================================================================
 */

.md-theme-layout-dark {
  .md-card {
    background-color: @layout-dark-color-4;
    color: #fff;
  }

  .md-card-actions {
    .md-divider-top-reverse();
  }

  .md-btn {
    color: #fff;
  }
}