@import "~@mdui/shared/variables.less";

/**
 * mdui-card 组件。默认为 variant="elevated"
 */
:host {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 200ms @mdui-sys-motion-easing-legacy;
  -webkit-tap-highlight-color: transparent;
  .borderRadius(12);

  --mdui-comp-ripple-state-layer-color: @mdui-sys-color-on-surface;
}

:host([variant="elevated"]) {
  .backgroundColor(surface);
  .elevation(1);
}

:host([variant="filled"]) {
  .backgroundColor(surface-variant);
}

:host([variant="outlined"]) {
  .backgroundColor(surface);
  .border(1px, solid, outline);
}

:host([variant="elevated"][focused]),
:host([variant="elevated"][pressed]) {
  .elevation(1);
}

:host([variant="elevated"][hover]) {
  .elevation(2);
}

:host([variant="filled"][hover]),
:host([variant="outlined"][hover]) {
  .elevation(1);
}

:host([variant="elevated"][dragged]),
:host([variant="filled"][dragged]),
:host([variant="outlined"][dragged]) {
  .elevation(3);
}
