/**
 * =============================================================================
 * ************   Dialog 提示框   ************
 * =============================================================================
 */

.md-dialog {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  color: #000;
  background-color: #fff;
  max-height: 90%;
  width: 92%;
  max-width: 728px;
  min-width: 180px;
  margin: auto;
  overflow: hidden;
  border-radius: 2px;
  display: none;
  z-index: @z-index-dialog;
  will-change: top, opacity, transform;
  opacity: 0;
  transform: scale(0.95);

  transition-property: transform, opacity, visibility;
  transition-duration: .3s;

  @media (min-width: @screen-sm-min) {
    max-height: 85%;
    width: 85%;
  }
  @media (min-width: @screen-md-min) {
    max-height: 80%;
    width: 80%;
  }

  .md-shadow(24);
}

/* 打开提示框 */
.md-dialog-open {
  opacity: 1;
  transform: scale(1);
}

// 美化滚动条
.md-dialog-scrollbar {
  .md-scrollbar-beautify();
}

/* 提示框标题 */
.md-dialog-title {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}
/* 标题固定在顶部 */
.md-dialog>.md-dialog-title {
  padding: 24px 24px 20px 24px;
}

/* 提示框内容 */
.md-dialog-content {
  box-sizing: border-box;
  font-size: 15px;
  opacity: 0.7;
  padding: 24px;
  line-height: 1.5;
  overflow-y: auto;
}
/* 标题随内容滚动 */
.md-dialog-content>.md-dialog-title {
  padding-bottom: 20px;
}

.md-dialog-title + .md-dialog-content {
  padding-top: 0;
}

/* 提示框底部按钮 */
.md-dialog-actions {
  box-sizing: border-box;
  padding: 8px;
  text-align: right;
  .md-btn {
    min-width: 64px;
    margin-left: 8px;
    .md-text-color(@default-color-name);
    &:first-child {
      margin-left: 0;
    }
  }
}
/* 底部按钮滚随内容动 */
.md-dialog-content>.md-dialog-actions {
  margin: 0 -24px -24px -24px;
  padding-top: 32px;
}

/* 使提示框底部按钮竖排 */
.md-dialog-actions-stacked {
  padding: 8px 0 8px 0;
  .md-btn {
    height: 48px;
    line-height: 48px !important;
    margin: 0;
    width: 100%;
    text-align: right;
    border-radius: 0;
  }
}


/**
 * =============================================================================
 * ************   Dialog 主色   ************
 * =============================================================================
 */
.loop-theme-primary-dialog(@counter-color) when (@counter-color > 0) {
  .loop-theme-primary-dialog((@counter-color - 1));
  @colorName: extract(@globalPrimaryColors, @counter-color);

  .md-theme-primary-@{colorName} {
    .md-dialog-actions {
      .md-btn {
        .md-text-color(@colorName);
      }
    }
  }

}
.loop-theme-primary-dialog(length(@globalPrimaryColors));


/**
 * =============================================================================
 * ************   Dialog dark   ************
 * =============================================================================
 */
.md-theme-layout-dark when (@globalLayoutDark = true) {
  .md-dialog {
    background-color: @layout-dark-color-4;
    color: #fff;
  }
}