/* Dialog 提示框
   ========================================================================== */

.md-dialog {
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
  max-height: 90%;
  width: 92%;
  max-width: @dialog-max-width;
  min-width: @dialog-min-width;
  margin: auto;
  overflow: hidden;
  border-radius: 2px;
  display: none;
  z-index: @z-index-dialog;
  will-change: top, opacity, transform, visibility;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.95);

  transition-property: transform, opacity, visibility;
  transition-duration: .3s;

  @media (min-width: @screen-sm-min) {
    max-height: 85%;
    width: 85%;
  }
  @media (min-width: @screen-md-min) {
    max-height: 80%;
    width: 80%;
  }

  .md-shadow(24);


  /* 打开提示框 */
  &.md-dialog-open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

// 美化滚动条
.md-dialog-scrollbar {
  .md-scrollbar-beautify();
}

/* 提示框标题 */
.md-dialog-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, @opacity-white-text);
}
/* 标题固定 */
.md-dialog>.md-dialog-title {
  padding: 24px 24px 20px 24px;
}

/* 提示框内容 */
.md-dialog-content {
  font-size: 15px;
  color: rgba(0, 0, 0, @opacity-white-secondary);
  padding: 24px;
  line-height: 1.5;
  overflow-y: auto;
}
/* 标题滚动 */
.md-dialog-content>.md-dialog-title {
  padding-bottom: 20px;
}

.md-dialog-title + .md-dialog-content {
  padding-top: 0;
}

/* 提示框底部按钮 */
.md-dialog-actions {
  padding: 9px;
  text-align: right;
  .md-btn {
    min-width: 64px;
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}

/* 使提示框底部按钮竖排 */
.md-dialog-actions-stacked {
  padding: 8px 0 8px 0;
  .md-btn {
    height: 48px;
    margin: 0;
    width: 100%;
    text-align: right;
    border-radius: 0;
  }
}