/* Grid 栅格系统
   ========================================================================== */

@_screen-col-1: 8.333333%;
@_screen-col-2: 16.666667%;
@_screen-col-3: 25%;
@_screen-col-4: 33.333333%;
@_screen-col-5: 41.666667%;
@_screen-col-6: 50%;
@_screen-col-7: 58.333333%;
@_screen-col-8: 66.666667%;
@_screen-col-9: 75%;
@_screen-col-10: 83.333333%;
@_screen-col-11: 91.666667%;
@_screen-col-12: 100%;

// 生成列、列偏移
._grid_col_loop(@cols, @screen) when (@cols > 0) {
  ._grid_col_loop((@cols - 1), @screen);

  @widthName: '_screen-col-@{cols}';

  .md-col-@{screen}-@{cols} {
    float: left;
    width: @@widthName;
  }

  .md-col-offset-@{screen}-@{cols} {
    margin-left: @@widthName;
  }
}

.md-container,
.md-container-fluid {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: @grid-gap-16 / 2;
  padding-right: @grid-gap-16 / 2;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

.md-container {
  max-width: 1280px;
  width: 96%;
  @media (min-width: @screen-sm-min) {
    width: 94%;
  }
  @media (min-width: @screen-md-min) {
    width: 92%;
  }
}

.md-row {
  margin-left: -@grid-gap-16 / 2;
  margin-right: -@grid-gap-16 / 2;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

[class*="md-col-xs-"],
[class*="md-col-sm-"],
[class*="md-col-md-"],
[class*="md-col-lg-"],
[class*="md-col-xl-"] {
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  padding-left: @grid-gap-16 / 2;
  padding-right: @grid-gap-16 / 2;
}

/* 中等屏幕及以上的设备上间距更大 */
@media (min-width: @screen-md-min) {
  .md-container,
  .md-container-fluid {
    padding-left: @grid-gap-24 / 2;
    padding-right: @grid-gap-24 / 2;
  }

  .md-row {
    margin-left: -@grid-gap-24 / 2;
    margin-right: -@grid-gap-24 / 2;
  }

  [class*="md-col-xs-"],
  [class*="md-col-sm-"],
  [class*="md-col-md-"],
  [class*="md-col-lg-"],
  [class*="md-col-xl-"] {
    padding-left: @grid-gap-24 / 2;
    padding-right: @grid-gap-24 / 2;
  }
}

/* 取消列间距 */
.md-col-gapless {
  [class*="md-col-xs-"],
  [class*="md-col-sm-"],
  [class*="md-col-md-"],
  [class*="md-col-lg-"],
  [class*="md-col-xl-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

._grid_col_loop(12, ~"xs");

@media (min-width: @screen-sm-min) {
  ._grid_col_loop(12, ~"sm");
}

@media (min-width: @screen-md-min) {
  ._grid_col_loop(12, ~"md");
}

@media (min-width: @screen-lg-min) {
  ._grid_col_loop(12, ~"lg");
}

@media (min-width: @screen-xl-min) {
  ._grid_col_loop(12, ~"xl");
}