.md-container,
.md-container-fluid {
  margin: 0 auto;
  padding: @grid-gap-default;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.md-container {
  max-width: 1280px;
}

.md-row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-left: -@grid-gap-default / 2;
  margin-right: -@grid-gap-default / 2;
}

[class*="md-col-"],
.md-col {
  padding: @grid-gap-default / 2;
  box-sizing: border-box;
  width: 100%;
}

//使单元格之间没有间隔
.md-row-gapless {
  margin-left: 0;
  margin-right: 0;

  [class*="md-col-"],
  .md-col {
    padding-left: 0;
    padding-right: 0;
  }
}

// 列对齐方式
.md-row-top {
  align-items: flex-start;
}
.md-row-middle {
  align-items: center;
}
.md-row-bottom {
  align-items: flex-end;
}
.md-row-stretch {
  align-items: stretch;
}

@_screen-col-1: 8.3333%;
@_screen-col-2: 16.6667%;
@_screen-col-3: 25%;
@_screen-col-4: 33.3333%;
@_screen-col-5: 41.6667%;
@_screen-col-6: 50%;
@_screen-col-7: 58.3333%;
@_screen-col-8: 66.6667%;
@_screen-col-9: 75%;
@_screen-col-10: 83.3333%;
@_screen-col-11: 91.6667%;
@_screen-col-12: 100%;

._grid_col_loop_mixin(@cols, @screen) when (@cols > 0) {
  ._grid_col_loop_mixin((@cols - 1), @screen);

  @widthName: '_screen-col-@{cols}';

  & when (@screen = ~"sm") {
    // 列宽度
    .md-col-@{cols},
    .md-col-@{screen}-@{cols} {
      width: @@widthName;
    }
    // 列偏移
    .md-col-offset-@{cols},
    .md-col-@{screen}-offset-@{cols} {
      margin-left: @@widthName;
    }
    // 列排序
    .md-col-order-@{cols},
    .md-col-@{screen}-order-@{cols} {
      order: @cols;
    }
  }

  & when not (@screen = ~"sm") {
    // 列宽度
    .md-col-@{screen}-@{cols} {
      width: @@widthName;
    }
    // 列偏移
    .md-col-@{screen}-offset-@{cols} {
      margin-left: @@widthName;
    }
    // 列排序
    .md-col-@{screen}-order-@{cols} {
      order: @cols;
    }
  }
}

._grid_col_mixin(@screen) {
  & when (@screen = ~"sm") {
    // 平分列
    .md-col,
    .md-col-@{screen} {
      flex: 1;
    }
  }
  & when not (@screen = ~"sm") {
    // 平分列
    .md-col-@{screen} {
      flex: 1;
    }
  }
}

// sm
._grid_col_mixin(~"sm");
._grid_col_loop_mixin(12, ~"sm");

// md
@media (min-width: @screen-md-min) {
  .md-container {
    padding: @grid-gap-24;
  }

  ._grid_col_mixin(~"md");
  ._grid_col_loop_mixin(12, ~"md");
}

// lg
@media (min-width: @screen-lg-min) {
  .md-container {
    padding: @grid-gap-40;
  }

  ._grid_col_mixin(~"lg");
  ._grid_col_loop_mixin(12, ~"lg");
}