:host {
  display: inline-block;
}

.base {
  display: inline-flex;
}

input {
  position: absolute;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  .width(20);
  .height(20);
  .margin(0, 0, 0, 10);
}
