/**
 * =============================================================================
 * ************   Divider 分割线   ************
 * =============================================================================
 */

/* 添加边框作为分割线，用于亮色背景 */
.md-divider-top {
  .md-divider-top();
}
.md-divider-bottom {
  .md-divider-bottom();
}
.md-divider-left {
  .md-divider-left();
}
.md-divider-right {
  .md-divider-right();
}

/* 添加边框作为分割线，用于深色背景 */
.md-divider-top-reverse {
  .md-divider-top-reverse();
}
.md-divider-bottom-reverse {
  .md-divider-bottom-reverse();
}
.md-divider-left-reverse {
  .md-divider-left-reverse();
}
.md-divider-right-reverse {
  .md-divider-right-reverse();
}

/* 分割线元素 */
.md-divider,
.md-divider-reverse,
.md-divider-spacing,
.md-divider-spacing-reverse {
  margin: -1px 0 0 0;
  height: 1px;
  border: none;
}

.md-divider,
.md-divider-spacing {
  background-color: rgb(0, 0, 0, @opacity-black-divider);
}
.md-divider-reverse,
.md-divider-spacing-reverse {
  background-color: rgb(255, 255, 255, @opacity-white-divider);
}

.md-divider-spacing,
.md-divider-spacing-reverse {
  padding-top: 8px;
  padding-bottom: 8px;
}
