:root {
  /**
   * 断点：https://m3.material.io/foundations/layout/applying-layout/window-size-classes
   * 该自定义属性值仅供 JavaScript 读取，请始终以 px 作为单位。CSS 媒体查询不支持使用 CSS 自定义属性。
   */
  --mdui-breakpoint-xs: @mdui-breakpoint-xs;
  --mdui-breakpoint-sm: @mdui-breakpoint-sm;
  --mdui-breakpoint-md: @mdui-breakpoint-md;
  --mdui-breakpoint-lg: @mdui-breakpoint-lg;
  --mdui-breakpoint-xl: @mdui-breakpoint-xl;
}
