:root {
  /**
   * 状态：无官方文档
   */
  --mdui-state-hover-state-layer-opacity: 0.08;
  --mdui-state-focus-state-layer-opacity: 0.12;
  --mdui-state-pressed-state-layer-opacity: 0.12;
  --mdui-state-dragged-state-layer-opacity: 0.16;
}
