/**
 * =============================================================================
 * ************   Appbar 应用栏   ************
 * =============================================================================
 */

.mdui-appbar {
  width: 100%;
  z-index: @z-index-appbar;
  .mdui-shadow(4);
}

/* appbar 固定在顶部时，为 body 添加 padding-top，避免 appbar 覆盖页面内容 */
.mdui-appbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* 含工具栏 */
.mdui-appbar-with-toolbar {
  padding-top: @appbar-height-xs;
  @media (min-width: @screen-sm-min) {
    padding-top: @appbar-height-sm;
  }
  @media (min-width: @screen-md-min) {
    padding-top: @appbar-height-md;
  }
}

/* 含 Tab */
.mdui-appbar-with-tab {
  padding-top: 48px;
}

/* 含大 Tab  */
.mdui-appbar-with-tab-larger {
  padding-top: 72px;
}

/* 含工具栏和 Tab */
.mdui-appbar-with-toolbar.mdui-appbar-with-tab {
  padding-top: @appbar-height-xs + 48px;
  @media (min-width: @screen-sm-min) {
    padding-top: @appbar-height-sm + 48px;
  }
  @media (min-width: @screen-md-min) {
    padding-top: @appbar-height-md + 48px;
  }
}

/* 含工具栏和大 Tab */
.mdui-appbar-with-toolbar.mdui-appbar-with-tab-larger {
  padding-top: @appbar-height-xs + 72px;
  @media (min-width: @screen-sm-min) {
    padding-top: @appbar-height-sm + 72px;
  }
  @media (min-width: @screen-md-min) {
    padding-top: @appbar-height-md + 72px;
  }
}


/**
 * =============================================================================
 * ************   Appbar dark   ************
 * =============================================================================
 */
.mdui-theme-layout-dark when (@globalLayoutDark = true) {
  .mdui-appbar {
    &>[class*="mdui-color-"]:not(.mdui-color-transparent) {
      background-color: @layout-dark-color-2 !important;
      color: #fff !important;
    }
  }
}