/**
 * =============================================================================
 * ************   Tooltip 工具提示   ************
 * =============================================================================
 */

.mdui-tooltip {
  position: absolute;
  z-index: @z-index-tooltip;
  display: inline-block;
  box-sizing: border-box;
  font-weight: 500;
  color: #fff;
  text-align: left;
  background-color: rgba(red(@color-grey-700), green(@color-grey-700), blue(@color-grey-700), 0.9);
  border-radius: 2px;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-timing-function: @animation-curve-default;
  transform: scale(0);

  will-change: opacity, transform;
}

/* 桌面版样式，在不支持 touch 事件的设备上由 js 添加该类 */
.mdui-tooltip-desktop {
  font-size: 12px;
  padding: 4px 8px;
  min-height: 24px;
  line-height: 18px;
  max-width: 200px;
}

/* 触摸版样式，在支持 touch 事件的设备上由 js 添加该类 */
.mdui-tooltip-mobile {
  font-size: 14px;
  padding: 8px 16px;
  min-height: 32px;
  line-height: 22px;
  max-width: 180px;
}

/* 显示工具提示 */
.mdui-tooltip-open {
  transform: scale(1);
  opacity: 1;
}