// Flat Button 默认为扁平按钮
.md-btn {
  background: transparent;
  border: none;
  border-radius: @button-border-radius;

  position: relative;
  height: @button-height;
  margin: 0;
  min-width: @button-min-width;
  padding: 0 @button-padding !important;
  display: inline-block;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow @button-transition-duration @animation-curve-fast-out-linear-in,
    background-color @button-transition-duration @animation-curve-default,
    color @button-transition-duration @animation-curve-default;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: @button-height !important;
  vertical-align: middle;
  font-size: @button-font-size;
  font-weight: @button-font-weight;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  -webkit-tap-highlight-color: transparent;

  zoom: 1;
  white-space: nowrap;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;

  &::-moz-focus-inner {
    border: 0;
  }

  &:not(.md-ripple):not([disabled]):not(.md-disabled):hover {
    background-color: @button-hover-color;
  }

  &:not(.md-ripple):not([disabled]):not(.md-disabled):active {
    background-color: @button-active-color;
  }

  // 按钮内的图标
  .md-icon-left,
  .md-icon-right {
    &,
    &::before {
      height: inherit;
      line-height: inherit;
      font-size: 1.3em;
    }
  }
  .md-icon-left {
    float: left;
    margin-right: 0.4em;
  }
  .md-icon-right {
    float: right;
    margin-left: 0.4em;
  }
}

//禁用按钮
.md-btn[disabled],
.md-btn.md-disabled {
  &,
  &:hover,
  &:active,
  &:focus,
  &.md-ripple:active {
    background-color: @button-disabled-color !important;
    color: @button-disabled-text-color !important;
    .md-shadow(0);
    cursor: default;
    .md-icon {
      color: @button-disabled-text-color !important;
    }
  }
}

// 加粗按钮文本
.md-btn-bold {
  font-weight: bold;
}

input.md-btn[type="submit"] {
  -webkit-appearance: none;
}

// Raised button 浮动按钮
.md-btn-raised {
  .md-shadow(2);

  &:active {
    .md-shadow(8);
  }
}

// FABs 浮动操作按钮
.md-btn-fab,
.md-btn-fab-mini {
  border-radius: 50%;
  font-size: @button-fab-font-size;
  margin: auto;
  padding: 0 !important;
  overflow: hidden;
  line-height: normal !important;
  .md-shadow(6);
  &:active {
    .md-shadow(12);
  }
}

.md-btn-fab {
  height: @button-fab-size;
  width: @button-fab-size;
  min-width: @button-fab-size;
}

.md-btn-fab-mini {
  height: @button-fab-size-mini;
  width: @button-fab-size-mini;
  min-width: @button-fab-size-mini;
}

// 固定到右下角的 FAB 按钮
.md-btn-fab-fixed {
  position: fixed !important;
  right: @button-fab-fixed-right-sm;
  bottom: @button-fab-fixed-bottom-sm;

  @media (min-width: @screen-md-min) {
    right: @button-fab-fixed-right-md;
    bottom: @button-fab-fixed-bottom-md;
  }

  @media (min-width: @screen-lg-min) {
    right: @button-fab-fixed-right-lg;
    bottom: @button-fab-fixed-bottom-lg;
  }
}

//图标按钮
.md-btn-icon,
.md-btn-icon-mini {
  border-radius: 50%;
  font-size: @button-fab-font-size;
  margin-left: 0;
  margin-right: 0;
  padding: 0 !important;
  overflow: hidden;
  line-height: normal !important;
}

.md-btn-icon {
  height: @button-icon-size;
  width: @button-icon-size;
  min-width: @button-icon-size;
}

.md-btn-icon-mini {
  height: @button-icon-size-mini;
  width: @button-icon-size-mini;
  min-width: @button-icon-size-mini;
}

//按钮内容的图标
.md-btn-fab,
.md-btn-fab-mini,
.md-btn-icon,
.md-btn-icon-mini {
  .md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
  }
}


//按钮 100% 宽度
&.md-btn-block {
  display: block;
  width: 100%;
}