@import "colors/_mixin.less";
@import "colors/red.less";
@import "colors/pink.less";
@import "colors/purple.less";
@import "colors/deep-purple.less";
@import "colors/indigo.less";
@import "colors/blue.less";
@import "colors/light-blue.less";
@import "colors/cyan.less";
@import "colors/teal.less";
@import "colors/green.less";
@import "colors/light-green.less";
@import "colors/lime.less";
@import "colors/yellow.less";
@import "colors/amber.less";
@import "colors/orange.less";
@import "colors/deep-orange.less";
@import "colors/brown.less";
@import "colors/grey.less";
@import "colors/blue-grey.less";
@import "colors/primary.less";

.md-color-black {
  background-color: @color-black !important;
}

.md-text-color-black {
  color: @color-black !important;
}

.md-color-white {
  background-color: @color-white !important;
  color: @body-text-color;
}

.md-text-color-white {
  color: @color-white !important;
}

.md-color-transparent {
  background-color: @color-transparent !important;
  color: @body-text-color;
}

.md-text-color-transparent {
  color: @color-transparent !important;
}