@import "color/_mixin.less";
@import "color/red.less";
@import "color/pink.less";
@import "color/purple.less";
@import "color/deep-purple.less";
@import "color/indigo.less";
@import "color/blue.less";
@import "color/light-blue.less";
@import "color/cyan.less";
@import "color/teal.less";
@import "color/green.less";
@import "color/light-green.less";
@import "color/lime.less";
@import "color/yellow.less";
@import "color/amber.less";
@import "color/orange.less";
@import "color/deep-orange.less";
@import "color/brown.less";
@import "color/grey.less";
@import "color/blue-grey.less";
@import "color/primary.less";

.md-color-black {
  background-color: @color-black !important;
  color: fade(@color-white, @opacity-primary);
}

.md-text-color-black {
  color: @color-black !important;
}

.md-color-white {
  background-color: @color-white !important;
  color: @body-text-color;
}

.md-text-color-white {
  color: @color-white !important;
}

.md-color-transparent {
  background-color: @color-transparent !important;
  color: @body-text-color;
}

.md-text-color-transparent {
  color: @color-transparent !important;
}