// 向左浮动
.md-float-left {
  float: left !important;
}

// 向右浮动
.md-float-right {
  float: right !important;
}

// 水平居中
.md-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// 垂直居中
.md-valign {
  display: flex;
  align-items: center;
}

// 文本对齐方式
.md-text-left {
  text-align: left;
}
.md-text-center {
  text-align: center;
}
.md-text-right {
  text-align: right;
}

// 清除浮动
.md-clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// 显示元素
.md-show {
  display: block !important;
}

// 隐藏元素
.md-hidden,
.md-hidden-lg-down,
.md-hidden-sm-up,
[hidden] {
  display: none !important;
}

// 使元素不可见
.md-invisible {
  visibility: hidden;
}

// 响应式工具
@media (max-width: @screen-sm-max) {
  .md-hidden-sm-down,
  .md-hidden-sm-only {
    display: none !important;
  }
}

@media (max-width: @screen-md-max) {
  .md-hidden-md-down {
    display: none !important;
  }
}

@media (min-width: @screen-md-min) {
  .md-hidden-md-up {
    display: none !important;
  }
}

@media (min-width: @screen-lg-min) {
  .md-hidden-lg-up,
  .md-hidden-lg-only {
    display: none !important;
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .md-hidden-md-only {
    display: none !important;
  }
}

// 强制文本换行
.md-textwrap {
  &,
  td, th {
    word-wrap: break-word;
    word-break: break-all;
  }
}