.md-icon {
  &,
  &::before {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}

// 深色图标
.md-icon-black {
  // 普通状态
  &.md-icon,
  &.md-icon::before,
  .md-icon,
  .md-icon::before {
    opacity: @icon-opacity-black;
  }

  // 禁用状态
  &.md-disabled.md-icon,
  &.md-disabled.md-icon::before,
  .md-disabled.md-icon,
  .md-disabled.md-icon::before {
    opacity: @icon-opacity-black-inactive;
  }
}

// 浅色图标
.md-icon-white {
  // 普通状态
  &.md-icon,
  &.md-icon::before,
  .md-icon,
  .md-icon::before {
    opacity: @icon-opacity-white;
  }

  // 禁用状态
  &.md-disabled.md-icon,
  &.md-disabled.md-icon::before,
  .md-disabled.md-icon,
  .md-disabled.md-icon::before {
    opacity: @icon-opacity-white-inactive;
  }
}

@import "icon/material-icons.less";