// 导航栏
.md-navbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 1000px;
  z-index: @z-index-navbar;
  transition: all .3s ease-in-out;
  .shadow-4();

  nav {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
  }

  a {
    // 链接悬浮颜色变化在 color/_mixin.less 中
    transition-property: background-color;
    transition-duration: .3s;
    user-select: none;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    margin: 0;
    .overflow-ellipsis();
  }
  .md-icon {
    vertical-align: middle;
    height: 24px;
    width: 24px;
  }
}

// 使导航栏固定在页面顶部
.md-navbar-fixed.md-navbar,
.md-navbar-fixed .md-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
// 为 body 添加 padding-top
body.md-navbar-fixed{
  padding-top: @navbar-height-sm;
  @media (min-width: @screen-md-min) {
    padding-top: @navbar-height-md;
  }
  @media (min-width: @screen-lg-min) {
    padding-top: @navbar-height-lg;
  }
}

// 纵向分隔符
.md-navbar-divider {
  width: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 6px;
}

// 间隔
.md-navbar-spacer {
  flex-grow: 1;
}

// logo
.md-navbar-logo {
  font-size: 24px;
  img{
    height: 24px;
  }
}

// 标题
.md-navbar-title {
  font-size: 20px;
  max-width: 138px;
  padding: 0 20px;
  .overflow-ellipsis();
}

//搜索框
.md-navbar-search {
  margin: 0;
}

.md-navbar-search-field {
  padding: 0;
  line-height: 48px;
  border: none;
  border-radius: 2px;
}

// 响应式
._navbar_responsive_mixed(@navbar-height){
  .md-navbar {
    min-height: @navbar-height;
    nav {
      line-height: @navbar-height;
    }
    a {
      line-height: @navbar-height;
    }
    .md-icon {
      padding: (@navbar-height - 24px) / 2 0;
    }
  }
  .md-navbar-divider{
    height: @navbar-height - 32;
  }
  .md-navbar-logo{
    img{
      padding: (@navbar-height - 24px) / 2 0;
    }
  }
}

//desktop
._navbar_responsive_mixed(@navbar-height-lg);

//tablet
@media (max-width: @screen-md-max) {
  ._navbar_responsive_mixed(@navbar-height-md);
}

// phone
@media (max-width: @screen-sm-max) {
  ._navbar_responsive_mixed(@navbar-height-sm);
}