// 导航栏
.md-navbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: @navbar-height;
  max-height: 1000px;
  z-index: @z-index-navbar;
  .shadow-4();

  nav {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    line-height: @navbar-height;
  }

  a {
    // 链接悬浮颜色变化在 color/_mixin.less 中
    transition-property: background-color;
    transition-duration: .3s;
    user-select: none;
    display: block;
    line-height: 64px;
    padding: 0 20px;
    text-decoration: none;
    margin: 0;
  }
  .md-icon {
    vertical-align: middle;
    padding: (@navbar-height - 24px) / 2 0;
    height: 24px;
    width: 24px;
  }
}

// 使导航栏固定在页面顶部
.md-navbar-fixed {
  position: fixed;
  top: 0;
}

// 纵向分隔符
.md-navbar-divider {
  width: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: @navbar-height - 32;
  margin: 0 6px;
}

// 间隔
.md-navbar-spacer {
  flex-grow: 1;
}

// logo
.md-navbar-logo {
  font-size: 24px;
  img{
    height: 24px;
    padding: (@navbar-height - 24px) / 2 0;
  }
}

// 标题
.md-navbar-title {
  font-size: 20px;
  max-width: 138px;
  padding: 0 20px;
  .overflow-ellipsis();
}

//搜索框
.md-navbar-search {
  margin: 0;
}

.md-navbar-search-field {
  padding: 0;
  line-height: 48px;
  border: none;
  border-radius: 2px;
}

