.md-typo-display-4 {
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.04em;
}

.md-typo-display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -.02em;
}

.md-typo-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
}

.md-typo-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

.md-typo-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
}

.md-typo-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em;
}

.md-typo-subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.md-typo-caption {
  font-size: 12px;
  font-weight: 400;
}