// 文字排版
.md-typo-display-4 {
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.04em;
  opacity: 0.54;
}

.md-typo-display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -.02em;
  opacity: 0.54;
}

.md-typo-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
  opacity: 0.54;
}

.md-typo-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  opacity: 0.54;
}

.md-typo-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.87;
}

.md-typo-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em;
  opacity: 0.87;
}

.md-typo-subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: .04em;
  opacity: 0.87;
}

.md-typo-body-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .04em;
  opacity: 0.87;
}

.md-typo-body-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: .04em;
  opacity: 0.87;
}

.md-typo-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .08em;
  opacity: 0.54;
}