/**
 * Table of Contents:
 * 1. Global
 * 2. Animation
 * 2. Colors
 * 3. Buttons
 */

/**
 * 1. Global
 * =======================================================
 */
@font-size-body: 14px;
@font-family-base: Roboto, Noto, Helvetica, Arial, sans-serif;
@font-family-code: Consolas, "Liberation Mono", Menlo, Courier, monospace;
@body-background-color: #fff;
@body-text-color: rgba(0, 0, 0, 0.87);

@z-index-navbar: 10;
@z-index-mask: 100;
@z-index-drawer: 200;
@z-index-dialog: 1000;

/**
 * 2. Animation
 * ======================================================
 */
@animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1); // 慢 - 快 - 慢
@animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1); // 快 - 慢
@animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1); // 慢 - 快

@animation-curve-default: @animation-curve-fast-out-slow-in;

/**
 * 2. Colors
 * =======================================================
 */

@color-black: #000000;
@color-white: #FFFFFF;
@color-transparent: transparent;

/**
 * 3. Buttons
 * ======================================================
 */
@button-min-width: 88px;
@button-height: 36px;
@button-padding: 16px;
@button-border-radius: 2px;
@button-transition-duration: .2s;
@button-font-size: 14px;
@button-font-weight: 500;

@button-fab-size: 56px;
@button-fab-size-mini: 40px;
@button-fab-font-size: 24px;
@button-fab-fixed-right-lg: 24px;
@button-fab-fixed-bottom-lg: 24px;
@button-fab-fixed-right-md: 20px;
@button-fab-fixed-bottom-md: 20px;
@button-fab-fixed-right-sm: 16px;
@button-fab-fixed-bottom-sm: 16px;

@button-icon-size: 32px;
@button-icon-size-mini: 24px;

@button-disabled-color: rgba(0, 0, 0, .12);
@button-disabled-text-color: rgba(0, 0, 0, .26);

// default button colors
@button-hover-color: #E8E8E8;
@button-focus-color: #DDDDDD;
@button-active-color: #D5D5D5;

/**
 * Grid
 * ======================================================
 */
//间隔
@grid-gutter-8: 4px;
@grid-gutter-16: 8px;
@grid-gutter-24: 12px;
@grid-gutter-40: 20px;
@grid-gutter-default: @grid-gutter-16;

//响应式断点
@screen-sm-max: 479px;
@screen-md-min: 480px;
@screen-md-max: 839px;
@screen-lg-min: 840px;

/**
 * Navbar
 * =====================================================
 */
@navbar-height-sm: 56px;
@navbar-height-md: 60px;
@navbar-height-lg: 64px;

@navbar-transition-duration: .3s;

@navbar-divider-width: 1px;
@navbar-divider-color: rgba(255, 255, 255, 0.2);

@navbar-title-font-size: 20px;
@navbar-title-max-width: 138px;

/**
 * Drawer
 * =====================================================
 */
@drawer-width: 232px;
@drawer-item-height: 48px;
@drawer-transition-duration: .3s;