//颜色深度
.color-version-mixin(@colorName, @version) {
  //背景色
  @color: 'color-@{colorName}-@{version}';
  //文本颜色
  @text-color: 'text-color-@{colorName}-@{version}';

  .md-color-@{colorName}-@{version} {
    background-color: @@color !important;
    color: @@text-color;
  }
  .md-theme-@{colorName} {
    .md-color-primary-@{version} {
      background-color: @@color !important;
      color: @@text-color;
    }
  }
}

.color-mixin(@colorName, @withAccent: 1) {
  .color-version-mixin(@colorName, 50);
  .color-version-mixin(@colorName, 100);
  .color-version-mixin(@colorName, 200);
  .color-version-mixin(@colorName, 300);
  .color-version-mixin(@colorName, 400);
  .color-version-mixin(@colorName, 500);
  .color-version-mixin(@colorName, 600);
  .color-version-mixin(@colorName, 700);
  .color-version-mixin(@colorName, 800);
  .color-version-mixin(@colorName, 900);
  & when (@withAccent = 1) {
    .color-version-mixin(@colorName, ~"a100");
    .color-version-mixin(@colorName, ~"a200");
    .color-version-mixin(@colorName, ~"a400");
    .color-version-mixin(@colorName, ~"a700");
  }

  //============= md-color-primary
  //背景色
  @color: 'color-@{colorName}';
  //文本颜色
  @text-color: 'text-color-@{colorName}';
  //悬浮状态背景色
  @color-hover: 'color-@{colorName}-hover';
  //激活状态背景色
  @color-active: 'color-@{colorName}-active';

  .md-color-@{colorName} {
    background-color: @@color !important;
    color: @@text-color;
  }
  .md-text-color-@{colorName} {
    color: @@color !important;
  }
  .md-theme-@{colorName} {
    .md-color-primary {
      background-color: @@color !important;
      color: @@text-color;
    }
    .md-text-color-primary {
      color: @@color !important;
    }
  }

  .md-color-hover-active-mixin() {
    // 按钮 hover/active 状态颜色
    &.md-btn {
      &:hover {
        background-color: @@color-hover !important;
      }
      &:active {
        background-color: @@color-active !important;
      }
      // 按钮有涟漪时，使 active 状态颜色和 hover 状态颜色一样
      &.md-ripple:active {
        background-color: @@color-hover !important;
      }
    }

    // 根据 md-color-[color] 自动判断使用深色或浅色涟漪
    &.waves-ripple,
    .waves-ripple {
      & when (@@text-color = @color-white-text) {
        background: @ripple-light-background-color;
      }
      & when (@@text-color = @color-black-text) {
        background: @ripple-dark-background-color;
      }
    }
  }
  .md-color-@{colorName} {
    .md-color-hover-active-mixin();
  }
  .md-theme-@{colorName} {
    .md-color-primary {
      .md-color-hover-active-mixin();
    }
  }



  // 涟漪的背景色
  .waves-effect {
    &.md-ripple-@{colorName} {
      @color: 'color-@{colorName}';
      .waves-ripple {
        background: rgba(red(@@color), green(@@color), blue(@@color), 0.3) !important;
      }
    }
  }
}