@color-amber-50: #FFF8E1;
@color-amber-100: #FFECB3;
@color-amber-200: #FFE082;
@color-amber-300: #FFD54F;
@color-amber-400: #FFCA28;
@color-amber-500: #FFC107;
@color-amber-600: #FFB300;
@color-amber-700: #FFA000;
@color-amber-800: #FF8F00;
@color-amber-900: #FF6F00;
@color-amber-a100: #FFE57F;
@color-amber-a200: #FFD740;
@color-amber-a400: #FFC400;
@color-amber-a700: #FFAB00;
@color-amber: @color-amber-500;

@color-amber-hover: @color-amber-600;
@color-amber-active: @color-amber-700;

.color-mixin(~"amber");