@color-blue-50: #E3F2FD;
@color-blue-100: #BBDEFB;
@color-blue-200: #90CAF9;
@color-blue-300: #64B5F6;
@color-blue-400: #42A5F5;
@color-blue-500: #2196F3;
@color-blue-600: #1E88E5;
@color-blue-700: #1976D2;
@color-blue-800: #1565C0;
@color-blue-900: #0D47A1;
@color-blue-a100: #82B1FF;
@color-blue-a200: #448AFF;
@color-blue-a400: #2979FF;
@color-blue-a700: #2962FF;
@color-blue: @color-blue-500;

@color-blue-hover: @color-blue-600;
@color-blue-active: @color-blue-700;

.color-mixin(~"blue");

.md-color-blue,
.md-color-blue-500,
.md-color-blue-600,
.md-color-blue-700,
.md-color-blue-800,
.md-color-blue-900,
.md-color-blue-a200,
.md-color-blue-a400,
.md-color-blue-a700{
  color: @color-white;
}