@color-brown-50: #EFEBE9;
@color-brown-100: #D7CCC8;
@color-brown-200: #BCAAA4;
@color-brown-300: #A1887F;
@color-brown-400: #8D6E63;
@color-brown-500: #795548;
@color-brown-600: #6D4C41;
@color-brown-700: #5D4037;
@color-brown-800: #4E342E;
@color-brown-900: #3E2723;
@color-brown: @color-brown-500;

@color-brown-hover: @color-brown-600;
@color-brown-active: @color-brown-700;

.color-mixin(~"brown", 0);

.md-color-brown,
.md-color-brown-300,
.md-color-brown-400,
.md-color-brown-500,
.md-color-brown-600,
.md-color-brown-700,
.md-color-brown-800,
.md-color-brown-900{
  color: @color-white;
}