@color-green-50: #E8F5E9;
@color-green-100: #C8E6C9;
@color-green-200: #A5D6A7;
@color-green-300: #81C784;
@color-green-400: #66BB6A;
@color-green-500: #4CAF50;
@color-green-600: #43A047;
@color-green-700: #388E3C;
@color-green-800: #2E7D32;
@color-green-900: #1B5E20;
@color-green-a100: #B9F6CA;
@color-green-a200: #69F0AE;
@color-green-a400: #00E676;
@color-green-a700: #00C853;
@color-green: @color-green-500;

@color-green-hover: @color-green-600;
@color-green-active: @color-green-700;

.color-mixin(~"green");

.md-color-green-600,
.md-color-green-700,
.md-color-green-800,
.md-color-green-900{
  color: @color-white;
}