@color-red-50: #FFEBEE;
@color-red-100: #FFCDD2;
@color-red-200: #EF9A9A;
@color-red-300: #E57373;
@color-red-400: #EF5350;
@color-red-500: #F44336;
@color-red-600: #E53935;
@color-red-700: #D32F2F;
@color-red-800: #C62828;
@color-red-900: #B71C1C;
@color-red-a100: #FF8A80;
@color-red-a200: #FF5252;
@color-red-a400: #FF1744;
@color-red-a700: #D50000;
@color-red: @color-red-500;

@color-red-hover: @color-red-600;
@color-red-active: @color-red-700;

.color-mixin(~"red");

.md-color-red,
.md-color-red-400,
.md-color-red-500,
.md-color-red-600,
.md-color-red-700,
.md-color-red-800,
.md-color-red-900,
.md-color-red-a200,
.md-color-red-a400,
.md-color-red-a700{
  color: @color-white;
}