@import url("~@mdui/shared/mixin.less");

:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: manipulation;
  zoom: 1;
  -webkit-user-drag: none;
  .borderRadius(2);
  .fontSize(label-large);
  .fontWeight(label-large);
  .letterSpacing(label-large);
}

:host([disabled]) {
  cursor: default;
  pointer-events: none;
}

.unchecked-icon {
  position: absolute;
  .color(on-surface-variant);
  .transition(color, short4, standard);

  :host([hover]) &,
  :host([focused]) &,
  :host([pressed]) & {
    .color(on-surface);
  }
}

.checked-icon {
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  transform: scale(0.2);
  transition-property: background-color, opacity, transform;
  .transitionDuration(short4);
  .transitionTimingFunction(standard);
  .width(10);
  .height(10);
  .backgroundColor(primary);
}

i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  .width(40);
  .minWidth(40);
  .height(40);
  .stateLayerColor(on-surface);
}

span {
  width: 100%;
  .paddingTop(10);
  .paddingBottom(10);
  .color(on-surface);
  .transition(color, short4, standard);
}

/* 选中状态的图标 */
:host([checked]) {
  i {
    .stateLayerColor(primary);
  }

  .unchecked-icon {
    .color(primary);
  }

  .checked-icon {
    opacity: 1;
    transform: scale(1);
  }
}

/* 验证不通过状态 */
i.invalid {
  .stateLayerColor(error);

  .unchecked-icon {
    .color(error);
  }

  .checked-icon {
    .backgroundColor(error);
  }
}

/* 禁用状态的图标 */
:host([disabled]) {
  .unchecked-icon {
    .color(on-surface, 38%);
  }

  .checked-icon {
    .backgroundColor(on-surface, 38%);
  }

  span {
    .color(on-surface, 38%);
  }
}
