/**
 * 高程：无官方文档
 *
 * 阴影颜色未区分亮色模式和暗色模式，因为当前亮色和暗色模式下阴影颜色是一样的
 */
@mdui-sys-elevation-level0: none;
@mdui-sys-elevation-level1: 0 1px 2px 0 rgba(@mdui-sys-color-shadow, 30%), 0 1px 3px 1px rgba(@mdui-sys-color-shadow, 15%);
@mdui-sys-elevation-level2: 0 1px 2px 0 rgba(@mdui-sys-color-shadow, 30%), 0 2px 6px 2px rgba(@mdui-sys-color-shadow, 15%);
@mdui-sys-elevation-level3: 0 1px 3px 0 rgba(@mdui-sys-color-shadow, 30%), 0 4px 8px 3px rgba(@mdui-sys-color-shadow, 15%);
@mdui-sys-elevation-level4: 0 2px 3px 0 rgba(@mdui-sys-color-shadow, 30%), 0 6px 10px 4px rgba(@mdui-sys-color-shadow, 15%);
@mdui-sys-elevation-level5: 0 4px 4px 0 rgba(@mdui-sys-color-shadow, 30%), 0 8px 12px 6px rgba(@mdui-sys-color-shadow, 15%);
