/**
 * 高程：无官方文档
 *
 * 阴影颜色未区分亮色模式和暗色模式，因为当前亮色和暗色模式下阴影颜色是一样的
 */
@mdui-sys-elevation-level0: none;
@mdui-sys-elevation-level1: 0 2px 1px -1px fade(@mdui-sys-color-shadow, 20%), 0 1px 1px 0 fade(@mdui-sys-color-shadow, 14%), 0 1px 3px 0 fade(@mdui-sys-color-shadow, 12%);
@mdui-sys-elevation-level2: 0 3px 3px -2px fade(@mdui-sys-color-shadow, 20%), 0 3px 4px 0 fade(@mdui-sys-color-shadow, 14%), 0 1px 8px 0 fade(@mdui-sys-color-shadow, 12%);
@mdui-sys-elevation-level3: 0 3px 5px -1px fade(@mdui-sys-color-shadow, 20%), 0 6px 10px 0 fade(@mdui-sys-color-shadow, 14%), 0 1px 18px 0 fade(@mdui-sys-color-shadow, 12%);
@mdui-sys-elevation-level4: 0 5px 5px -3px fade(@mdui-sys-color-shadow, 20%), 0 8px 10px 1px fade(@mdui-sys-color-shadow, 14%), 0 3px 14px 2px fade(@mdui-sys-color-shadow, 12%);
@mdui-sys-elevation-level5: 0 7px 8px -4px fade(@mdui-sys-color-shadow, 20%), 0 12px 17px 2px fade(@mdui-sys-color-shadow, 14%), 0 5px 22px 4px fade(@mdui-sys-color-shadow, 12%);
