/**
 * =============================================================================
 * ************   Checkbox 复选框   ************
 * =============================================================================
 */

.md-checkbox {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  cursor: pointer;
  user-select: none;

  // 隐藏系统 input 标签，用自定义的图标代替
  input {
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
  }
}

/* 透明的圆形，用于生成圆形阴影 */
.md-checkbox-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  border-radius: 18px;
  background-color: transparent;
  border: none;
  transition: box-shadow .14s @animation-curve-default;

  // 图标的边框和背景
  &:after {
    content: ' ';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    transition: all .3s @animation-curve-default;
    z-index: 0;
  }

  // 图标内部的勾
  &:before {
    content: ' ';
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 0;
    width: 8px;
    height: 13px;
    transform: rotateZ(37deg) scale(0);
    transform-origin: 100% 100%;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all .3s @animation-curve-default;
    opacity: 0;
    z-index: 1;
  }
}

/* 选中状态的图标 */
.md-checkbox input[type="checkbox"]:checked + .md-checkbox-icon {
  &:after {
    border-color: @color-default-500;
    background-color: @color-default-500;
  }

  &:before {
    opacity: 1;
    transform: rotateZ(37deg) scale(1);
  }
}

/* 禁用状态的图标 */
.md-checkbox input[type="checkbox"]:disabled + .md-checkbox-icon {
  &:after {
    border-color: rgba(0, 0, 0, 0.26);
  }
}

/* 禁用且选中状态 */
.md-checkbox input[type="checkbox"]:disabled:checked + .md-checkbox-icon {
  &:after {
    background-color: rgba(0, 0, 0, 0.26) !important;
    border-color: transparent !important;
  }
}

/* 未选中、禁用时 按下的阴影 */
.md-checkbox input[type="checkbox"]:active +.md-checkbox-icon {
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
}

/* 已选中时按下的阴影 */
.md-checkbox input[type="checkbox"]:checked:active:not(:disabled) + .md-checkbox-icon {
  box-shadow: 0 0 0 15px rgba(red(@color-default-500), green(@color-default-500), blue(@color-default-500), 0.16);
}


/**
 * =============================================================================
 * ************   Checkbox 主色   ************
 * =============================================================================
 */

& {
  .loop-primary-theme(@counter-color) when (@counter-color > 0) {
    .loop-primary-theme((@counter-color - 1));
    @colorName: extract(@globalPrimaryColors, @counter-color);

    @color: 'color-@{colorName}-500';

    .md-theme-primary-@{colorName} {

      // 选中状态的图标
      .md-checkbox input[type="checkbox"]:checked + .md-checkbox-icon {
        &:after {
          border-color: @@color;
          background-color: @@color;
        }
      }

      // 已选中时按下的阴影
      .md-checkbox input[type="checkbox"]:checked:active:not(:disabled) + .md-checkbox-icon {
        box-shadow: 0 0 0 15px rgba(red(@@color), green(@@color), blue(@@color), 0.16);
      }

    }
  }
  .loop-primary-theme(length(@globalPrimaryColors));
}


/**
 * =============================================================================
 * ************   Checkbox dark   ************
 * =============================================================================
 */

.md-theme-layout-dark when (@globalLayoutDark = true) {

  // 未选中的图标
  .md-checkbox-icon {
    &:after {
      border-color: rgba(255, 255, 255, 0.7);
    }
    &:before {
      border-right-color: @layout-dark-color-3;
      border-bottom-color: @layout-dark-color-3;
    }
  }

  // 禁用状态
  .md-checkbox input[type="checkbox"]:disabled + .md-checkbox-icon {
    &:after {
      border-color: rgba(255, 255, 255, 0.3);
    }
  }

  // 禁用且选中状态
  .md-checkbox input[type="checkbox"]:disabled:checked + .md-checkbox-icon {
    &:after {
      background-color: rgba(255, 255, 255, 0.3) !important;
      border-color: transparent !important;
    }
  }

  // 未选中或禁用时 按下的阴影
  .md-checkbox input[type="checkbox"]:active + .md-checkbox-icon {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1);
  }
}
