/**
 * =============================================================================
 * ************   Checkbox 复选框   ************
 * =============================================================================
 */

.md-checkbox {
  position: relative;
  display: inline-block;
  height: 36px;
  padding-left: 34px;
  padding-right: 8px;
  line-height: 36px;
  cursor: pointer;
  user-select: none;

  // 隐藏系统 input 标签，用自定义的图标代替
  input {
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
  }
}

/* 图标 */
// 用来显示涟漪
.md-checkbox-icon {
  position: absolute;
  left: -7px;
  top: -6px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: translateZ(0);

  // 图标背景
  &:after {
    content: ' ';
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 18px;
    height: 18px;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    transition: all .3s @animation-curve-default;
  }

  // 图标样式
  &:before {
    position: absolute;
    content: ' ';
    top: 17px;
    left: 15px;
    box-sizing: border-box;
    width: 8px;
    height: 13px;
    transform: rotateZ(37deg) scale(0);
    transform-origin: 100% 100%;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all .3s @animation-curve-default;
    z-index: 1;
    opacity: 0;
  }
}

/* 选中状态的图标 */
.md-checkbox input[type="checkbox"]:checked + .md-checkbox-icon {
  // 图标背景
  &:after {
    border-color: @color-default-500;
    background-color: @color-default-500;
  }

  // 图标样式
  &:before {
    opacity: 1;
    transform: rotateZ(37deg) scale(1);
  }
}

/* 禁用状态的图标 */
.md-checkbox input[type="checkbox"]:disabled + .md-checkbox-icon {
  // 图标背景
  &:after {
    border-color: rgba(0, 0, 0, 0.26);
  }
}

/* 禁用且选中状态的图标背景 */
.md-checkbox input[type="checkbox"]:disabled:checked + .md-checkbox-icon {
  // 图标背景
  &:after {
    background-color: rgba(0, 0, 0, 0.26) !important;
    border-color: transparent !important;
  }
}


/**
 * =============================================================================
 * ************   Checkbox 主色   ************
 * =============================================================================
 */

& {
  .loop-primary-theme(@counter-color) when (@counter-color > 0) {
    .loop-primary-theme((@counter-color - 1));
    @colorName: extract(@globalPrimaryColors, @counter-color);

    @color: 'color-@{colorName}-500';

    .md-theme-primary-@{colorName} {

      // 涟漪的颜色
      .md-checkbox-icon.md-ripple {
        .md-ripple-wave {
          background-color: rgba(red(@@color), green(@@color), blue(@@color), 0.3) !important;
        }
      }

      // 选中状态的图标
      .md-checkbox input[type="checkbox"]:checked + .md-checkbox-icon {
        &:after {
          border-color: @@color;
          background-color: @@color;
        }
      }

    }
  }
  .loop-primary-theme(length(@globalPrimaryColors));
}


/**
 * =============================================================================
 * ************   Checkbox dark   ************
 * =============================================================================
 */

.md-theme-layout-dark when (@globalLayoutDark = true) {

  // 未选中的图标
  .md-checkbox-icon {
    &:after {
      border-color: rgba(255, 255, 255, 0.7);
    }
    &:before {
      border-right-color: @layout-dark-color-3;
      border-bottom-color: @layout-dark-color-3;
    }
  }

  // 禁用状态的图标
  .md-checkbox input[type="checkbox"]:disabled + .md-checkbox-icon {
    &:after {
      border-color: rgba(255, 255, 255, 0.3);
    }
  }

  // 禁用且选中状态的图标
  .md-checkbox input[type="checkbox"]:disabled:checked + .md-checkbox-icon {
    &:after {
      background-color: rgba(255, 255, 255, 0.3) !important;
      border-color: transparent !important;
    }
  }

}
