@color-white: #FFFFFF;

@color-white-500: @color-white;
@color-white-500-is-dark: false;

@color-white-600: #E6E6E6;
@color-white-600-is-dark: false;

@color-white-700: #D5D5D5;
@color-white-700-is-dark: false;

@color-white-text: rgba(255, 255, 255, @opacity-white-text);
@color-white-secondary: rgba(255, 255, 255, @opacity-white-secondary);
@color-white-disabled: rgba(255, 255, 255, @opacity-white-disabled);
@color-white-divider: rgba(255, 255, 255, @opacity-white-divider);