/**
 * =============================================================================
 * ************   Button 按钮   ************
 * =============================================================================
 */

/* 默认为 Flat 扁平按钮 */
.md-btn {
  color: inherit;
  background: transparent;
  border: none;
  border-radius: 2px;

  position: relative;
  height: @button-height;
  margin: 0;
  min-width: 88px;
  padding: 0 16px;
  display: inline-block;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s @animation-curve-fast-out-linear-in,
              //background-color .2s @animation-curve-default, // linear-gradient 实现的半透明无法实现过渡动画，所以按钮的背景统一没有过渡动画
              color .2s @animation-curve-default;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: @button-height;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  -webkit-tap-highlight-color: transparent;

  zoom: 1;
  white-space: nowrap;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;

  // 移除点击延迟触发
  touch-action: manipulation;

  &::-moz-focus-inner {
    border: 0;
  }

  // 透明按钮 hover、active 时颜色加深
  &:not(.md-ripple):hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:not(.md-ripple):active {
    background-color: rgba(0, 0, 0, 0.165);
  }

  // 带背景色的按钮 hover、active 时颜色变浅
  &:not(.md-ripple)[class*="md-color-"]:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));
  }
  &:not(.md-ripple)[class*="md-color-"]:active {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  }
}

/* 按钮内的图标 */
.md-btn {
  .md-icon-left,
  .md-icon-right {
    &,
    &::before {
      height: inherit;
      line-height: inherit;
      font-size: 1.3em;
    }
  }
  .md-icon-left {
    float: left;
    margin-right: 0.4em;
  }
  .md-icon-right {
    float: right;
    margin-left: 0.4em;
  }
}

/* 禁用按钮 */
.md-btn[disabled],
.md-btn.md-disabled {
  &,
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(0, 0, 0, .12) !important;
    color: rgba(0, 0, 0, .26) !important;
    .md-shadow(0);
    cursor: default;
    .md-icon {
      color: rgba(0, 0, 0, .26) !important;
    }
  }
}

/* 加粗按钮文本 */
.md-btn-bold {
  font-weight: bold;
}

input.md-btn[type="submit"] {
  -webkit-appearance: none;
}

/* Raised button 浮动按钮 */
.md-btn-raised {
  .md-shadow(2);

  &:hover {
    .md-shadow(4);
  }

  &:active {
    .md-shadow(8);
  }
}

/* 图标按钮 */
.md-btn-icon,
.md-btn-icon-mini {
  border-radius: 50%;
  font-size: 24px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
  line-height: normal;

  &.md-ripple {
    transform: translateZ(0);
  }
}

.md-btn-icon {
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.md-btn-icon-mini {
  height: 24px;
  width: 24px;
  min-width: 24px;
}

/* 按钮内容的图标 */
.md-btn-icon,
.md-btn-icon-mini {
  .md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
  }
}


/* 按钮 100% 宽度 */
&.md-btn-block {
  display: block;
  width: 100%;
}


/**
 * =============================================================================
 * ************   Button dark   ************
 * =============================================================================
 */
.md-theme-layout-dark when (@globalLayoutDark = true) {

  // 透明按钮 hover、active 时颜色变浅
  .md-btn {
    &:not(.md-ripple):hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &:not(.md-ripple):active {
      background-color: rgba(255, 255, 255, 0.165);
    }
  }
}