@import "~@mdui/shared/variables.less";

:host {
  display: block;
  width: 100%;
  .height(1);
  .backgroundColor(surface-variant);
}

:host([inset]) {
  width: calc(100% - 1rem);
  .marginLeft(16);
}

:host([middle]) {
  width: calc(100% - 2rem);
  .marginLeft(16);
  .marginRight(16);
}

:host([vertical]) {
  height: 100%;
  .width(1);
}
