/**
 * =============================================================================
 * ************   Drawer 抽屉栏导航   ************
 * =============================================================================
 */

/* DOM 加载完后再添加 transition */
body.mdui-loaded {
  transition: padding .3s @animation-curve-linear-out-slow-in;
}
body.mdui-loaded .mdui-drawer {
  transition: all .3s @animation-curve-linear-out-slow-in;
}

/* 抽屉栏外层，默认出现在左侧且隐藏 */
.mdui-drawer {
  width: @drawer-width;
  box-sizing: border-box;
  position: fixed;
  top: @appbar-height-md;
  left: 0;
  bottom: 0;
  z-index: @z-index-drawer;
  will-change: transform;
  //padding: 12px 0 52px 0;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  &:hover {
    overflow-y: auto!important;
  }
}

/* 美化滚动条 */
.mdui-drawer-scrollbar {
  .mdui-scrollbar-beautify();
}

/* 出现在右侧的抽屉栏 */
.mdui-drawer-right {
  left: auto;
  right: 0;
}

/* 手机平板上的样式 */
@media (max-width: @screen-sm-max) {
  .mdui-drawer {
    /* 始终覆盖导航栏 */
    top: 0;

    /* 默认隐藏 */
    transform: translateX(-@drawer-width - 10);

    /* 始终有背景和阴影 */
    background-color: #fff;
    .mdui-shadow(16);
  }

  .mdui-drawer-right {
    /* 右侧 drawer 也默认隐藏 */
    transform: translateX(@drawer-width + 10);
  }
}

/* 强制隐藏抽屉栏 */
.mdui-drawer-close {
  transform: translateX(-@drawer-width - 10);
  &.mdui-drawer-right {
    transform: translateX(@drawer-width + 10);
  }
}

/* 强制显示抽屉栏 */
.mdui-drawer-open {
  transform: translateX(0) !important;
}

@media (min-width: @screen-md-min) {
  /* 使 body 获得 padding-left 或 padding-right，避免被抽屉栏覆盖住页面 */
  body.mdui-drawer-body-left {
    padding-left: @drawer-width;
  }
  body.mdui-drawer-body-right {
    padding-right: @drawer-width;
  }
}

/* 抽屉栏不是透明时添加阴影 */
.mdui-drawer[class*="mdui-color-"]:not(.mdui-color-transparent) {
  .mdui-shadow(16);
}

/* 抽屉栏 100% 高度，覆盖在导航栏上面 */
.mdui-drawer-full-height {
  top: 0;
}


// 抽屉栏中的菜单
@drawer-item-height: 48px;
ul.mdui-drawer-items,
.mdui-drawer-items ul {
  padding: 0;
  margin: 0;
}
.mdui-drawer-items {
  li{
    list-style: none;
    position: relative;
    &:hover {
      .mdui-drawer-item-after {
        display: block;
      }
    }
  }
}

// 抽屉栏的菜单项
.mdui-drawer-item {
  display: flex;
  align-items: center;
  padding: 0 12px 0 16px;
  text-decoration: none;
  color: inherit;
  @media (min-width: @screen-md-min) {
    padding-left: 24px;
  }
  height: @drawer-item-height;
  border-radius: 2px;
  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03));
  }
  &:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  }
}

// 子菜单
.mdui-drawer-subitems {
  .mdui-drawer-item {
    padding-left: 40px;
  }
}

// 菜单项最左侧图标
.mdui-drawer-item-icon {
  padding-right: 24px;
  width: 24px;
  height: 24px;
}

// 菜单项标题
.mdui-drawer-item-title {
  padding-right: 12px;
  .mdui-text-truncate();
}

// 导航项右侧设置按钮
.mdui-drawer-item-after {
  position: absolute;
  right: 4px;
  top: (@drawer-item-height - 24) / 2;
  display: none;
  .mdui-icon {
    font-size: 18px;
    opacity: .8;
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}

//激活状态
.mdui-drawer-item-active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  font-weight: bold;
}

//分割线
.mdui-drawer-divider {
  height: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 8px 0 16px 0;
}


/**
 * =============================================================================
 * ************   Drawer dark   ************
 * =============================================================================
 */
.mdui-theme-layout-dark when (@globalLayoutDark = true) {

  // 美化滚动条
  .mdui-drawer-scrollbar {
    .mdui-scrollbar-beautify(dark);
  }

  // 手机平板上的样式
  @media (max-width: @screen-sm-max) {
    .mdui-drawer {
      background-color: @layout-dark-color-4;
    }
  }
}