//颜色深度
._mdui-color-degree(@colorName, @degree) {
  .mdui-color-@{colorName}-@{degree} {
    .mdui-color(@colorName, @degree);
  }
  .mdui-theme-@{colorName} {
    .mdui-color-primary-@{degree} {
      .mdui-color(@colorName, @degree);
    }
  }
}

.color-mixin(@colorName, @withAccent: true) {
  ._mdui-color-degree(@colorName, 50);
  ._mdui-color-degree(@colorName, 100);
  ._mdui-color-degree(@colorName, 200);
  ._mdui-color-degree(@colorName, 300);
  ._mdui-color-degree(@colorName, 400);
  ._mdui-color-degree(@colorName, 500);
  ._mdui-color-degree(@colorName, 600);
  ._mdui-color-degree(@colorName, 700);
  ._mdui-color-degree(@colorName, 800);
  ._mdui-color-degree(@colorName, 900);
  & when (@withAccent = true) {
    ._mdui-color-degree(@colorName, a100);
    ._mdui-color-degree(@colorName, a200);
    ._mdui-color-degree(@colorName, a400);
    ._mdui-color-degree(@colorName, a700);
  }

  //============= mdui-color-primary
  .mdui-color-@{colorName} {
    .mdui-color(@colorName, 500);

    @color-is-dark: 'color-@{colorName}-500-is-dark';
    & when (@@color-is-dark = false) {
      .mdui-icon {
        .mdui-icon-color(black);
      }
    }
  }
  .mdui-text-color-@{colorName} {
    &,
    .mdui-icon {
      .mdui-text-color(@colorName) !important;
    }
  }
  .mdui-theme-@{colorName} {
    .mdui-color-primary {
      .mdui-color(@colorName, 500);

      @color-is-dark: 'color-@{colorName}-500-is-dark';
      & when (@@color-is-dark = false) {
        .mdui-icon {
          .mdui-icon-color(black);
        }
      }
    }
    .mdui-text-color-primary {
      &,
      .mdui-icon {
        .mdui-text-color(@colorName) !important;
      }
    }
  }

  ._mdui-color-hover-active() {
    // 按钮 hover/active 状态颜色
    &.mdui-btn {
      &:not(.mdui-ripple):not([disabled]):not(.mdui-disabled):hover {
        ._mdui-background-color-hover(@colorName) !important;
      }
      &:not(.mdui-ripple):not([disabled]):not(.mdui-disabled):active {
        ._mdui-background-color-active(@colorName) !important;
      }
    }
  }
  .mdui-color-@{colorName} {
    ._mdui-color-hover-active();
  }
  .mdui-theme-@{colorName} {
    .mdui-color-primary {
      ._mdui-color-hover-active();
    }
  }

  // 涟漪的背景色
  .mdui-ripple-@{colorName} .mdui-ripple-wave,
  .mdui-ripple-@{colorName}.mdui-ripple-wave {
    @color: 'color-@{colorName}-500';
    background-color: rgba(red(@@color), green(@@color), blue(@@color), 0.3) !important;
  }
}