/* Color: black
   ========================================================================== */

.mdui-color-black {
  background-color: @color-black;
  color: @color-white-text;
}

.mdui-text-color-black {
  &,
  .mdui-icon {
    color: @color-black;
  }
}
.mdui-text-color-black-text {
  color: @color-black-text;
}
.mdui-text-color-black-secondary {
  color: @color-black-secondary;
}
.mdui-text-color-black-disabled {
  color: @color-black-disabled;
}
.mdui-text-color-black-divider {
  color: @color-black-divider;
}