.md-color-black {
  background-color: @color-black !important;
  color: @color-white-text;
}

.md-text-color-black {
  color: @color-black !important;
}
.md-text-color-black-text {
  color: @color-black-text !important;
}
.md-text-color-black-secondary {
  color: @color-black-secondary !important;
}
.md-text-color-black-disabled {
  color: @color-black-disabled !important;
}
.md-text-color-black-divider {
  color: @color-black-divider !important;
}