/* Color: white
   ========================================================================== */

.mdui-color-white {
  background-color: @color-white;
  color: @color-black-text;

  &.mdui-btn:not(.mdui-ripple):not([disabled]):not(.mdui-disabled):hover {
    ._mdui-background-color-hover('white');
  }
  &.mdui-btn:not(.mdui-ripple):not([disabled]):not(.mdui-disabled):active {
    ._mdui-background-color-active('white');
  }
}

.mdui-text-color-white {
  &,
  .mdui-icon {
    color: @color-white;
  }
}
.mdui-text-color-white-text {
  color: @color-white-text;
}
.mdui-text-color-white-secondary {
  color: @color-white-secondary;
}
.mdui-text-color-white-disabled {
  color: @color-white-disabled;
}
.mdui-text-color-white-divider {
  color: @color-white-divider;
}