/* Color: white
   ========================================================================== */

.md-color-white {
  background-color: @color-white !important;
  color: @color-black-text;

  &.md-btn:not(.md-ripple):not([disabled]):not(.md-disabled):hover {
    ._md-background-color-hover('white') !important;
  }
  &.md-btn:not(.md-ripple):not([disabled]):not(.md-disabled):active {
    ._md-background-color-active('white') !important;
  }
}

.md-text-color-white {
  &,
  .md-icon {
    color: @color-white !important;
  }
}
.md-text-color-white-text {
  color: @color-white-text !important;
}
.md-text-color-white-secondary {
  color: @color-white-secondary !important;
}
.md-text-color-white-disabled {
  color: @color-white-disabled !important;
}
.md-text-color-white-divider {
  color: @color-white-divider !important;
}