/* Color: white
   ========================================================================== */

.md-color-white {
  background-color: @color-white;
  color: @color-black-text;

  &.md-btn:not(.md-ripple):not([disabled]):not(.md-disabled):hover {
    ._md-background-color-hover('white');
  }
  &.md-btn:not(.md-ripple):not([disabled]):not(.md-disabled):active {
    ._md-background-color-active('white');
  }
}

.md-text-color-white {
  &,
  .md-icon {
    color: @color-white;
  }
}
.md-text-color-white-text {
  color: @color-white-text;
}
.md-text-color-white-secondary {
  color: @color-white-secondary;
}
.md-text-color-white-disabled {
  color: @color-white-disabled;
}
.md-text-color-white-divider {
  color: @color-white-divider;
}