.grid-desktop-mixin(@width, @i) {
  .md-col-@{i} {
    width: @width;
  }
  .md-col-offset-@{i} {
    margin-left: @width;
  }
  .md-col-order-@{i} {
    order: @i;
  }
}

.grid-desktop-mixin(8.3333%, 1);
.grid-desktop-mixin(16.6667%, 2);
.grid-desktop-mixin(25%, 3);
.grid-desktop-mixin(33.3333%, 4);
.grid-desktop-mixin(41.6667%, 5);
.grid-desktop-mixin(50%, 6);
.grid-desktop-mixin(58.3333%, 7);
.grid-desktop-mixin(66.6667%, 8);
.grid-desktop-mixin(75%, 9);
.grid-desktop-mixin(83.3333%, 10);
.grid-desktop-mixin(91.6667%, 11);
.grid-desktop-mixin(100%, 12);

//平分列
.md-col {
  flex: 1;
}

//隐藏列
.md-col-hide {
  display: none !important;
}

//行中列的对齐方式
.md-row-top {
  align-items: flex-start;
}

.md-row-middle {
  align-items: center;
}

.md-row-bottom {
  align-items: flex-end;
}

.md-row-stretch {
  align-items: stretch;
}

//列的间隔
.grid-gutter-desktop(@i) {
  @gutter: 'grid-gutter-@{i}';
  .md-row-gutter-@{i} {
    margin-left: -@@gutter;
    margin-right: -@@gutter;

    .md-col,
    [class*="md-col-"] {
      padding: @@gutter;
    }
  }
}

.grid-gutter-desktop(8);
.grid-gutter-desktop(16);
.grid-gutter-desktop(24);
.grid-gutter-desktop(40);