@media (max-width: @grid-phone-max) {
  .md-container {
    padding: 8px;
  }

  .grid-phone-mixin(@width, @i) {
    .md-col-phone-@{i} {
      width: @width;
    }
    .md-col-phone-offset-@{i} {
      margin-left: @width;
    }
    .md-col-phone-order-@{i} {
      order: @i;
    }
  }

  .grid-phone-mixin(25%, 1);
  .grid-phone-mixin(50%, 2);
  .grid-phone-mixin(75%, 3);
  .grid-phone-mixin(100%, 4);

  //平分列
  .md-col-phone {
    flex: 1;
  }

  //隐藏列
  .md-col-phone-hide {
    display: none !important;
  }

  //行中列的对齐方式
  .md-row-phone-top {
    align-items: flex-start;
  }

  .md-row-phone-middle {
    align-items: center;
  }

  .md-row-phone-bottom {
    align-items: flex-end;
  }

  .md-row-phone-stretch {
    align-items: stretch;
  }

  //列的间隔
  .grid-gutter-phone(@i) {
    @gutter: 'grid-gutter-@{i}';
    .md-row-gutter-phone-@{i} {
      margin-left: -@@gutter;
      margin-right: -@@gutter;

      .md-col,
      [class*="md-col-"] {
        padding: @@gutter;
      }
    }
  }
  .grid-gutter-phone(8);
  .grid-gutter-phone(16);
  .grid-gutter-phone(24);
  .grid-gutter-phone(40);
}