@media (min-width: @grid-tablet-min) and (max-width: @grid-tablet-max) {
  .md-container {
    padding: 16px;
  }

  .grid-tablet-mixin(@width, @i) {
    .md-col-tablet-@{i} {
      width: @width;
    }
    .md-col-tablet-offset-@{i} {
      margin-left: @width;
    }
    .md-col-tablet-order-@{i} {
      order: @i;
    }
  }

  .grid-tablet-mixin(12.5%, 1);
  .grid-tablet-mixin(25%, 2);
  .grid-tablet-mixin(37.5%, 3);
  .grid-tablet-mixin(50%, 4);
  .grid-tablet-mixin(62.5%, 5);
  .grid-tablet-mixin(75%, 6);
  .grid-tablet-mixin(87.5%, 7);
  .grid-tablet-mixin(100%, 8);

  //平分列
  .md-col-tablet {
    flex: 1;
  }

  //隐藏列
  .md-col-tablet-hide {
    display: none !important;
  }

  //行中列的对齐方式
  .md-row-tablet-top {
    align-items: flex-start;
  }

  .md-row-tablet-middle {
    align-items: center;
  }

  .md-row-tablet-bottom {
    align-items: flex-end;
  }

  .md-row-tablet-stretch {
    align-items: stretch;
  }

  //列的间隔
  .grid-gutter-tablet(@i) {
    @gutter: 'grid-gutter-@{i}';
    .md-row-gutter-tablet-@{i} {
      margin-left: -@@gutter;
      margin-right: -@@gutter;

      .md-col,
      [class*="md-col-"] {
        padding: @@gutter;
      }
    }
  }
  .grid-gutter-tablet(8);
  .grid-gutter-tablet(16);
  .grid-gutter-tablet(24);
  .grid-gutter-tablet(40);
}

