@import "~@mdui/shared/mixin.less";

:host {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  .color(on-surface-variant);
  .padding(10, 16);
  .typescale(label-large);
}
