@import "~@mdui/shared/mixin.less";

:host {
  --shape-corner: var(--mdui-shape-corner-none);

  display: block;
  border-radius: var(--shape-corner);
}

::slotted(mdui-divider) {
  .marginLeft(16);
  .marginRight(16);
}
