@import "~@mdui/shared/variables.less";

:host {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  .color(on-surface-variant);
  .padding(10, 16);
  .lineHeight(20);
  .fontSize(label-large-size);
  .fontWeight(label-large-weight);
  .letterSpacing(label-large-tracking);
}
