/* Navbar 导航栏
   ========================================================================== */

body.md-loaded .md-navbar {
  transition: all @navbar-transition-duration @animation-curve-default;
}
.md-navbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 1000px;
  z-index: @z-index-navbar;
  .md-shadow(4);

  a {
    transition: background-color @navbar-transition-duration @animation-curve-default;
    user-select: none;
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 0;
    .md-text-overflow();
  }

  .md-btn-icon,
  .md-btn-icon-mini {
    .md-icon {
      vertical-align: middle;
      height: 24px;
      line-height: 24px;
      width: 24px;
    }
  }
  .md-btn-icon {
    width: @navbar-icon-width;
    height: @navbar-icon-width;
    min-width: @navbar-icon-width;
  }
  .md-btn-icon-mini {
    width: @navbar-icon-mini-width;
    height: @navbar-icon-mini-width;
    min-width: @navbar-icon-mini-width;
  }
}

/* navbar 固定在顶部时，为 body 添加 padding-top，避免 navbar 覆盖页面内容 */
body.md-navbar-fixed{
  .md-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  padding-top: @navbar-height-xs;
  @media (min-width: @screen-sm-min) {
    padding-top: @navbar-height-sm;
  }
  @media (min-width: @screen-md-min) {
    padding-top: @navbar-height-md;
  }
}

/* 纵向分隔符 */
.md-navbar-divider {
  width: 0;
  border-left: @navbar-divider-width solid @navbar-divider-color;
  margin: 0 6px;
}

/* 间隔 */
.md-navbar-spacer {
  flex-grow: 1;
}

/* logo */
.md-navbar-logo {
  font-size: 24px;
  img{
    height: 24px;
  }
}

/* 标题 */
.md-navbar-title {
  font-size: @navbar-title-font-size;
  max-width: @navbar-title-max-width;
  padding: 0 20px;
  .md-text-overflow();
}

/* 搜索框 */
.md-navbar-search {
  margin: 0;
}

.md-navbar-search-field {
  padding: 0;
  line-height: 48px;
  border: none;
  border-radius: 2px;
}

// 响应式
._navbar_responsive_mixed(@navbar-height){
  .md-navbar {
    &,
    nav,
    .md-icon {
      height: @navbar-height;
      line-height: @navbar-height;
    }
    a {
      padding: 0 @navbar-height - @navbar-icon-width;
    }
    .md-btn-icon {
      margin: 0 (@navbar-height - @navbar-icon-width) / 2;
    }
    .md-btn-icon-mini {
      margin: 0 (@navbar-height - @navbar-icon-mini-width) / 2;
    }
  }
  .md-navbar-divider{
    height: @navbar-height - 32;
  }
  .md-navbar-logo{
    img{
      padding: (@navbar-height - 24px) / 2 0;
    }
  }
}

._navbar_responsive_mixed(@navbar-height-xs);
@media (min-width: @screen-sm-min) {
  ._navbar_responsive_mixed(@navbar-height-sm);
}
@media (min-width: @screen-md-min) {
  ._navbar_responsive_mixed(@navbar-height-md);
}