// 分割线
// =============================================================================

// 添加边框作为分割线，用于亮色背景
.mdui-divider-top-light() {
  border-top: 1px solid rgba(0, 0, 0, @opacity-black-divider);
}
.mdui-divider-bottom-light() {
  border-bottom: 1px solid rgba(0, 0, 0, @opacity-black-divider);
}
.mdui-divider-left-light() {
  border-left: 1px solid rgba(0, 0, 0, @opacity-black-divider);
}
.mdui-divider-right-light() {
  border-right: 1px solid rgba(0, 0, 0, @opacity-black-divider);
}

// 添加边框作为分割线，用于深色背景
.mdui-divider-top-dark() {
  border-top: 1px solid rgba(255, 255, 255, @opacity-white-divider);
}
.mdui-divider-bottom-dark() {
  border-bottom: 1px solid rgba(255, 255, 255, @opacity-white-divider);
}
.mdui-divider-left-dark() {
  border-left: 1px solid rgba(255, 255, 255, @opacity-white-divider);
}
.mdui-divider-right-dark() {
  border-right: 1px solid rgba(255, 255, 255, @opacity-white-divider);
}