// 分割线
// =============================================================================

// 添加边框作为分割线，用于亮色背景
.mdui-divider-top() {
  border-top: 1px solid rgba(0, 0, 0, @opacity-black-divider);
}
.mdui-divider-bottom() {
  border-bottom: 1px solid rgba(0, 0, 0, @opacity-black-divider);
}
.mdui-divider-left() {
  border-left: 1px solid rgba(0, 0, 0, @opacity-black-divider);
}
.mdui-divider-right() {
  border-right: 1px solid rgba(0, 0, 0, @opacity-black-divider);
}

// 添加边框作为分割线，用于深色背景
.mdui-divider-top-reverse() {
  border-top: 1px solid rgba(255, 255, 255, @opacity-white-divider);
}
.mdui-divider-bottom-reverse() {
  border-bottom: 1px solid rgba(255, 255, 255, @opacity-white-divider);
}
.mdui-divider-left-reverse() {
  border-left: 1px solid rgba(255, 255, 255, @opacity-white-divider);
}
.mdui-divider-right-reverse() {
  border-right: 1px solid rgba(255, 255, 255, @opacity-white-divider);
}