@import url("../mixin.less");

:host {
  box-sizing: border-box;
}

:host {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

:host(:focus),
:host(:focus-visible),
:host *:focus,
:host *:focus-visible {
  outline: none;
}

[hidden] {
  display: none !important;
}

// 滚动条样式
:not([no-scrollbar-beauty])::-webkit-scrollbar {
  .px(width, 8);
  .px(height, 8);

  background: transparent;
}

:not([no-scrollbar-beauty])::-webkit-scrollbar-thumb {
  .backgroundColor(surface-variant);
}
