/**
 * =============================================================================
 * ************   Icon 图标   ************
 * =============================================================================
 */

.mdui-icon,
.mdui-icon::before {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: inherit;
}