// 涟漪

.md-ripple {
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

// Ripple
.md-ripple-wave {
  left: 0;
  top: 0;
  position: absolute !important;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  font-size: 0;
  transform: translate3d(0px, 0px, 0) scale(0);
  transition-duration: 1400ms;
}

.md-ripple-wave-fill {
  transition-duration: 300ms;
  opacity: 0.35;
}

.md-ripple-wave-out {
  transition-duration: 600ms;
  opacity: 0;
}

// 涟漪颜色；其他颜色在 color/_mixin.less 中
.md-ripple-white .md-ripple-wave,
.md-ripple-white.md-ripple-wave {
  background-color: rgba(255, 255, 255, 0.3);
}

.md-ripple-black .md-ripple-wave,
.md-ripple-black.md-ripple-wave {
  background-color: rgba(0, 0, 0, 0.1);
}

// 圆形
.md-ripple {
  &.md-btn-fab,
  &.md-btn-fab-mini,
  &.md-btn-icon,
  &.md-btn-icon-mini {
    transform: translateZ(0);
  }
}