@import "~@mdui/shared/variables.less";

/**
 * mdui-button 组件。默认为 variant="text"
 */
:host {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 200ms @mdui-sys-motion-easing-legacy;
  -webkit-tap-highlight-color: transparent;
  .minWidth(48);
  .fontSize(label-large-size);
  .fontWeight(label-large-weight);
  .height(40);
  .borderRadius(20);
  .color(primary);
  .padding(0, 16);
  .letterSpacing(label-large-tracking);
}

:host([fullwidth]) {
  display: block;
}

:host([variant="elevated"]) {
  .elevation(1);
  .backgroundColor(surface);

  --mdui-comp-ripple-state-layer-color: @mdui-sys-color-primary;
}

:host([variant="filled"]) {
  .color(on-primary);
  .backgroundColor(primary);

  --mdui-comp-ripple-state-layer-color: @mdui-sys-color-on-primary;
}

:host([variant="tonal"]) {
  .color(on-secondary-container);
  .backgroundColor(secondary-container);

  --mdui-comp-ripple-state-layer-color: @mdui-sys-color-on-secondary-container;
}

:host([variant="outlined"]) {
  .border(1px, solid, outline);

  --mdui-comp-ripple-state-layer-color: @mdui-sys-color-primary;
}

:host([variant="text"]) {
  --mdui-comp-ripple-state-layer-color: @mdui-sys-color-primary;
}

:host([variant="icon"]) {
  min-width: 0;
  padding: 0;
  .color(on-secondary-container);
  .width(40);

  --mdui-comp-ripple-state-layer-color: @mdui-sys-color-primary;
}

:host([disabled]) {
  cursor: default;
  .color(on-surface, 38%);
}

:host([variant="elevated"][focused]) {
  .elevation(1);
}

:host([variant="filled"][focused]),
:host([variant="tonal"][focused]) {
  .elevation(0);
}

:host([variant="outlined"][focused]) {
  .borderColor(primary);
}

:host([variant="elevated"][pressed]) {
  .elevation(1);
}

:host([variant="filled"][pressed]),
:host([variant="tonal"][pressed]) {
  .elevation(0);
}

:host([variant="elevated"][hover]) {
  .elevation(2);
}

:host([variant="filled"][hover]),
:host([variant="tonal"][hover]) {
  .elevation(1);
}

:host([variant="elevated"][disabled]),
:host([variant="filled"][disabled]),
:host([variant="tonal"][disabled]) {
  .backgroundColor(on-surface, 12%);
  .elevation(0);
}

:host([variant="outlined"][disabled]) {
  .borderColor(on-surface, 12%);
}

.label {
  .paddingRight(8);
  .paddingLeft(8);

  :host([variant="icon"]) & {
    display: none;
  }
}

.icon,
::slotted([slot="icon"]) {
  display: inline-flex;
  // 图标 font-size 为 18px，文案为 14px
  font-size: unit((18 / 14), em);
}
