@import "~@mdui/shared/variables.less";

/**
 * mdui-button 组件。默认为 variant="text"
 */
:host {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 200ms @mdui-sys-motion-easing-standard;
  -webkit-tap-highlight-color: transparent;
  .minWidth(48);
  .fontSize(label-large-size);
  .fontWeight(label-large-weight);
  .height(40);
  .borderRadius(20);
  .color(primary);
  .letterSpacing(label-large-tracking);
}

.button {
  .padding(0, 16);

  :host([variant="icon"]) & {
    padding: 0;
  }
}

:host([fullwidth]) {
  display: block;
}

:host([variant="elevated"]) {
  .elevation(1);
  .backgroundColor(surface);
  .stateLayerColor(primary);
}

:host([variant="filled"]) {
  .color(on-primary);
  .backgroundColor(primary);
  .stateLayerColor(on-primary);
}

:host([variant="tonal"]) {
  .color(on-secondary-container);
  .backgroundColor(secondary-container);
  .stateLayerColor(on-secondary-container);
}

:host([variant="outlined"]) {
  .border(1px, solid, outline);
  .stateLayerColor(primary);
}

:host([variant="text"]) {
  .stateLayerColor(primary);
}

:host([variant="icon"]) {
  min-width: 0;
  .color(on-secondary-container);
  .width(40);
  .stateLayerColor(primary);
}

:host([variant="elevated"]:focus-visible) {
  .elevation(1);
}

:host([variant="filled"]:focus-visible),
:host([variant="tonal"]:focus-visible) {
  .elevation(0);
}

:host([variant="outlined"]:focus-visible) {
  .borderColor(primary);
}

:host([variant="elevated"][pressed]) {
  .elevation(1);
}

:host([variant="filled"][pressed]),
:host([variant="tonal"][pressed]) {
  .elevation(0);
}

:host([variant="elevated"][hover]) {
  .elevation(2);
}

:host([variant="filled"][hover]),
:host([variant="tonal"][hover]) {
  .elevation(1);
}

:host([loading]) {
  mdui-ripple,
  .button {
    opacity: 0;
  }

  mdui-circular-progress {
    position: absolute;
    top: calc(50% - unit((18 / 14), em) / 2);
    left: calc(50% - unit((18 / 14), em) / 2);
    width: unit((18 / 14), em);
    height: unit((18 / 14), em);
  }
}

:host([disabled]),
:host([loading]) {
  cursor: default;
  .color(on-surface, 38%);
  .elevation(0);
}

:host([variant="elevated"][disabled]),
:host([variant="filled"][disabled]),
:host([variant="tonal"][disabled]),
:host([variant="elevated"][loading]),
:host([variant="filled"][loading]),
:host([variant="tonal"][loading]) {
  .backgroundColor(on-surface, 12%);
}

:host([variant="outlined"][disabled]),
:host([variant="outlined"][loading]) {
  .borderColor(on-surface, 12%);
}

.label {
  .paddingRight(8);
  .paddingLeft(8);

  :host([variant="icon"]) & {
    display: none;
  }
}

.icon,
::slotted([slot="start"]),
::slotted([slot="end"]) {
  display: inline-flex;
  // 图标 font-size 为 18px，文案为 14px
  font-size: unit((18 / 14), em);
}
