/**
 * =============================================================================
 * ************   layout-dark 深色主题   ************
 * =============================================================================
 */

@import "mixin/less/mixin.less";
@import "variable/less/variable.less";
@import "mixin/less/helper.less";

@layout-dark-color-1: #000;
@layout-dark-color-2: #212121;
@layout-dark-color-3: #303030;
@layout-dark-color-4: #424242;



@import "global/less/layout-dark.less";
@import "dialog/less/layout-dark.less";
@import "appbar/less/layout-dark.less";
@import "ripple/less/layout-dark.less";
@import "drawer/less/layout-dark.less";
@import "typo/less/layout-dark.less";
@import "card/less/layout-dark.less";
@import "chip/less/layout-dark.less";
@import "snackbar/less/layout-dark.less";
@import "textfield/less/layout-dark.less";