:root {
  /**
   * 颜色值：https://m3.material.io/styles/color/the-color-system/tokens
   */
  // 亮色模式下的颜色
  --mdui-sys-color-primary-light: 103, 80, 164;
  --mdui-sys-color-primary-container-light: 234, 221, 255;
  --mdui-sys-color-secondary-light: 98, 91, 113;
  --mdui-sys-color-secondary-container-light: 232, 222, 248;
  --mdui-sys-color-tertiary-light: 125, 82, 96;
  --mdui-sys-color-tertiary-container-light: 255, 216, 228;
  --mdui-sys-color-surface-light: 255, 251, 254;
  --mdui-sys-color-surface-variant-light: 231, 224, 236;
  --mdui-sys-color-background-light: 255, 251, 254;
  --mdui-sys-color-error-light: 179, 38, 30;
  --mdui-sys-color-error-container-light: 249, 222, 220;
  --mdui-sys-color-on-primary-light: 255, 255, 255;
  --mdui-sys-color-on-primary-container-light: 33, 0, 93;
  --mdui-sys-color-on-secondary-light: 255, 255, 255;
  --mdui-sys-color-on-secondary-container-light: 29, 25, 43;
  --mdui-sys-color-on-tertiary-light: 255, 255, 255;
  --mdui-sys-color-on-tertiary-container-light: 49, 17, 29;
  --mdui-sys-color-on-surface-light: 28, 27, 31;
  --mdui-sys-color-on-surface-variant-light: 73, 69, 79;
  --mdui-sys-color-on-error-light: 255, 255, 255;
  --mdui-sys-color-on-error-container-light: 65, 14, 11;
  --mdui-sys-color-on-background-light: 28, 27, 31;
  --mdui-sys-color-outline-light: 121, 116, 126;
  --mdui-sys-color-shadow-light: 0, 0, 0;
  --mdui-sys-color-inverse-surface-light: 49, 48, 51;
  --mdui-sys-color-inverse-on-surface-light: 244, 239, 244;
  --mdui-sys-color-inverse-primary-light: 208, 188, 255;

  // 暗色模式下的颜色
  --mdui-sys-color-primary-dark: 208, 188, 255;
  --mdui-sys-color-primary-container-dark: 79, 55, 139;
  --mdui-sys-color-secondary-dark: 204, 194, 220;
  --mdui-sys-color-secondary-container-dark: 74, 68, 88;
  --mdui-sys-color-tertiary-dark: 239, 184, 200;
  --mdui-sys-color-tertiary-container-dark: 99, 59, 72;
  --mdui-sys-color-surface-dark: 28, 27, 31;
  --mdui-sys-color-surface-variant-dark: 73, 69, 79;
  --mdui-sys-color-background-dark: 28, 27, 31;
  --mdui-sys-color-error-dark: 242, 184, 181;
  --mdui-sys-color-error-container-dark: 140, 29, 24;
  --mdui-sys-color-on-primary-dark: 56, 30, 114;
  --mdui-sys-color-on-primary-container-dark: 234, 221, 255;
  --mdui-sys-color-on-secondary-dark: 51, 45, 65;
  --mdui-sys-color-on-secondary-container-dark: 232, 222, 248;
  --mdui-sys-color-on-tertiary-dark: 73, 37, 50;
  --mdui-sys-color-on-tertiary-container-dark: 255, 216, 228;
  --mdui-sys-color-on-surface-dark: 230, 225, 229;
  --mdui-sys-color-on-surface-variant-dark: 202, 196, 208;
  --mdui-sys-color-on-error-dark: 96, 20, 16;
  --mdui-sys-color-on-error-container-dark: 242, 184, 181;
  --mdui-sys-color-on-background-dark: 230, 225, 229;
  --mdui-sys-color-outline-dark: 147, 143, 153;
  --mdui-sys-color-shadow-dark: 0, 0, 0;
  --mdui-sys-color-inverse-surface-dark: 230, 225, 229;
  --mdui-sys-color-inverse-on-surface-dark: 49, 48, 51;
  --mdui-sys-color-inverse-primary-dark: 103, 80, 164;

  font-size: ~"@{root-font-size}px";
}

body {
  .color(on-background);
  .backgroundColor(background);
}

// 强制使用亮色模式的颜色
.theme-light() {
  --mdui-sys-color-primary: var(--mdui-sys-color-primary-light);
  --mdui-sys-color-primary-container: var(--mdui-sys-color-primary-container-light);
  --mdui-sys-color-secondary: var(--mdui-sys-color-secondary-light);
  --mdui-sys-color-secondary-container: var(--mdui-sys-color-secondary-container-light);
  --mdui-sys-color-tertiary: var(--mdui-sys-color-tertiary-light);
  --mdui-sys-color-tertiary-container: var(--mdui-sys-color-tertiary-container-light);
  --mdui-sys-color-surface: var(--mdui-sys-color-surface-light);
  --mdui-sys-color-surface-variant: var(--mdui-sys-color-surface-variant-light);
  --mdui-sys-color-background: var(--mdui-sys-color-background-light);
  --mdui-sys-color-error: var(--mdui-sys-color-error-light);
  --mdui-sys-color-error-container: var(--mdui-sys-color-error-container-light);
  --mdui-sys-color-on-primary: var(--mdui-sys-color-on-primary-light);
  --mdui-sys-color-on-primary-container: var(--mdui-sys-color-on-primary-container-light);
  --mdui-sys-color-on-secondary: var(--mdui-sys-color-on-secondary-light);
  --mdui-sys-color-on-secondary-container: var(--mdui-sys-color-on-secondary-container-light);
  --mdui-sys-color-on-tertiary: var(--mdui-sys-color-on-tertiary-light);
  --mdui-sys-color-on-tertiary-container: var(--mdui-sys-color-on-tertiary-container-light);
  --mdui-sys-color-on-surface: var(--mdui-sys-color-on-surface-light);
  --mdui-sys-color-on-surface-variant: var(--mdui-sys-color-on-surface-variant-light);
  --mdui-sys-color-on-error: var(--mdui-sys-color-on-error-light);
  --mdui-sys-color-on-error-container: var(--mdui-sys-color-on-error-container-light);
  --mdui-sys-color-on-background: var(--mdui-sys-color-on-background-light);
  --mdui-sys-color-outline: var(--mdui-sys-color-outline-light);
  --mdui-sys-color-shadow: var(--mdui-sys-color-shadow-light);
  --mdui-sys-color-inverse-surface: var(--mdui-sys-color-inverse-surface-light);
  --mdui-sys-color-inverse-on-surface: var(--mdui-sys-color-inverse-on-surface-light);
  --mdui-sys-color-inverse-primary: var(--mdui-sys-color-inverse-primary-light);
}

// 强制使用暗色模式、或设置成自动适配且处于暗色模式的颜色
.theme-dark() {
  --mdui-sys-color-primary: var(--mdui-sys-color-primary-dark);
  --mdui-sys-color-primary-container: var(--mdui-sys-color-primary-container-dark);
  --mdui-sys-color-secondary: var(--mdui-sys-color-secondary-dark);
  --mdui-sys-color-secondary-container: var(--mdui-sys-color-secondary-container-dark);
  --mdui-sys-color-tertiary: var(--mdui-sys-color-tertiary-dark);
  --mdui-sys-color-tertiary-container: var(--mdui-sys-color-tertiary-container-dark);
  --mdui-sys-color-surface: var(--mdui-sys-color-surface-dark);
  --mdui-sys-color-surface-variant: var(--mdui-sys-color-surface-variant-dark);
  --mdui-sys-color-background: var(--mdui-sys-color-background-dark);
  --mdui-sys-color-error: var(--mdui-sys-color-error-dark);
  --mdui-sys-color-error-container: var(--mdui-sys-color-error-container-dark);
  --mdui-sys-color-on-primary: var(--mdui-sys-color-on-primary-dark);
  --mdui-sys-color-on-primary-container: var(--mdui-sys-color-on-primary-container-dark);
  --mdui-sys-color-on-secondary: var(--mdui-sys-color-on-secondary-dark);
  --mdui-sys-color-on-secondary-container: var(--mdui-sys-color-on-secondary-container-dark);
  --mdui-sys-color-on-tertiary: var(--mdui-sys-color-on-tertiary-dark);
  --mdui-sys-color-on-tertiary-container: var(--mdui-sys-color-on-tertiary-container-dark);
  --mdui-sys-color-on-surface: var(--mdui-sys-color-on-surface-dark);
  --mdui-sys-color-on-surface-variant: var(--mdui-sys-color-on-surface-variant-dark);
  --mdui-sys-color-on-error: var(--mdui-sys-color-on-error-dark);
  --mdui-sys-color-on-error-container: var(--mdui-sys-color-on-error-container-dark);
  --mdui-sys-color-on-background: var(--mdui-sys-color-on-background-dark);
  --mdui-sys-color-outline: var(--mdui-sys-color-outline-dark);
  --mdui-sys-color-shadow: var(--mdui-sys-color-shadow-dark);
  --mdui-sys-color-inverse-surface: var(--mdui-sys-color-inverse-surface-dark);
  --mdui-sys-color-inverse-on-surface: var(--mdui-sys-color-inverse-on-surface-dark);
  --mdui-sys-color-inverse-primary: var(--mdui-sys-color-inverse-primary-dark);

  .color(on-background);
  .backgroundColor(background);
}

:root {
  .theme-light();
}

/* mdui-theme-dark 和 mdui-theme-auto 只能加在 body 元素上 */
.mdui-theme-dark {
  .theme-dark();
}

@media (prefers-color-scheme: dark) {
  .mdui-theme-auto {
    .theme-dark();
  }
}
