:root {
  --mdui-sys-motion-easing-standard: @mdui-sys-motion-easing-standard;
  --mdui-sys-motion-easing-accelerate: @mdui-sys-motion-easing-accelerate;
  --mdui-sys-motion-easing-decelerate: @mdui-sys-motion-easing-decelerate;
  --mdui-sys-motion-easing-linear: @mdui-sys-motion-easing-linear;
}
