@color-black: #000000;

@color-black-text: rgba(0, 0, 0, @opacity-black-text);
@color-black-secondary: rgba(0, 0, 0, @opacity-black-secondary);
@color-black-disabled: rgba(0, 0, 0, @opacity-black-disabled);
@color-black-divider: rgba(0, 0, 0, @opacity-black-divider);