@color-black: #000000;

@color-black-500: @color-black;
@color-black-500-is-dark: true;

@color-black-text: rgba(0, 0, 0, @opacity-black-text);
@color-black-secondary: rgba(0, 0, 0, @opacity-black-secondary);
@color-black-disabled: rgba(0, 0, 0, @opacity-black-disabled);
@color-black-divider: rgba(0, 0, 0, @opacity-black-divider);