@color-blue-50: #E3F2FD;
@text-color-blue-50: @color-black-text;

@color-blue-100: #BBDEFB;
@text-color-blue-100: @color-black-text;

@color-blue-200: #90CAF9;
@text-color-blue-200: @color-black-text;

@color-blue-300: #64B5F6;
@text-color-blue-300: @color-black-text;

@color-blue-400: #42A5F5;
@text-color-blue-400: @color-black-text;

@color-blue-500: #2196F3;
@text-color-blue-500: @color-white-text;

@color-blue-600: #1E88E5;
@text-color-blue-600: @color-white-text;

@color-blue-700: #1976D2;
@text-color-blue-700: @color-white-text;

@color-blue-800: #1565C0;
@text-color-blue-800: @color-white-text;

@color-blue-900: #0D47A1;
@text-color-blue-900: @color-white-text;

@color-blue-a100: #82B1FF;
@text-color-blue-a100: @color-black-text;

@color-blue-a200: #448AFF;
@text-color-blue-a200: @color-white-text;

@color-blue-a400: #2979FF;
@text-color-blue-a400: @color-white-text;

@color-blue-a700: #2962FF;
@text-color-blue-a700: @color-white-text;

@color-blue: @color-blue-500;
@text-color-blue: @text-color-blue-500;


@color-blue-hover: @color-blue-400;
@color-blue-active: @color-blue-300;