@color-blue-grey-50: #ECEFF1;
@color-blue-grey-50-opacity: @opacity-primary;
@color-blue-grey-50-text-color: -1;

@color-blue-grey-100: #CFD8DC;
@color-blue-grey-100-opacity: @opacity-primary;
@color-blue-grey-100-text-color: -1;

@color-blue-grey-200: #B0BEC5;
@color-blue-grey-200-opacity: @opacity-primary;
@color-blue-grey-200-text-color: -1;

@color-blue-grey-300: #90A4AE;
@color-blue-grey-300-opacity: @opacity-primary;
@color-blue-grey-300-text-color: -1;

@color-blue-grey-400: #78909C;
@color-blue-grey-400-opacity: -1;
@color-blue-grey-400-text-color: @color-white;

@color-blue-grey-500: #607D8B;
@color-blue-grey-500-opacity: @opacity-primary;
@color-blue-grey-500-text-color: @color-white;

@color-blue-grey-600: #546E7A;
@color-blue-grey-600-opacity: @opacity-primary;
@color-blue-grey-600-text-color: @color-white;

@color-blue-grey-700: #455A64;
@color-blue-grey-700-opacity: @opacity-primary;
@color-blue-grey-700-text-color: @color-white;

@color-blue-grey-800: #37474F;
@color-blue-grey-800-opacity: @opacity-primary;
@color-blue-grey-800-text-color: @color-white;

@color-blue-grey-900: #263238;
@color-blue-grey-900-opacity: @opacity-primary;
@color-blue-grey-900-text-color: @color-white;

@color-blue-grey: @color-blue-grey-500;
@color-blue-grey-opacity: -1;
@color-blue-grey-text-color: @color-white;


@color-blue-grey-hover: @color-blue-grey-600;
@color-blue-grey-active: @color-blue-grey-700;