@color-blue-grey-50: #ECEFF1;
@text-color-blue-grey-50: @color-black-text;

@color-blue-grey-100: #CFD8DC;
@text-color-blue-grey-100: @color-black-text;

@color-blue-grey-200: #B0BEC5;
@text-color-blue-grey-200: @color-black-text;

@color-blue-grey-300: #90A4AE;
@text-color-blue-grey-300: @color-black-text;

@color-blue-grey-400: #78909C;
@text-color-blue-grey-400: @color-white-text;

@color-blue-grey-500: #607D8B;
@text-color-blue-grey-500: @color-white-text;

@color-blue-grey-600: #546E7A;
@text-color-blue-grey-600: @color-white-text;

@color-blue-grey-700: #455A64;
@text-color-blue-grey-700: @color-white-text;

@color-blue-grey-800: #37474F;
@text-color-blue-grey-800: @color-white-text;

@color-blue-grey-900: #263238;
@text-color-blue-grey-900: @color-white-text;

@color-blue-grey: @color-blue-grey-500;
@text-color-blue-grey: @text-color-blue-grey-500;


@color-blue-grey-hover: @color-blue-grey-400;
@color-blue-grey-active: @color-blue-grey-300;