@color-blue-50: #E3F2FD;
@color-blue-50-opacity: @opacity-primary;
@color-blue-50-text-color: @color-black;

@color-blue-100: #BBDEFB;
@color-blue-100-opacity: @opacity-primary;
@color-blue-100-text-color: @color-black;

@color-blue-200: #90CAF9;
@color-blue-200-opacity: @opacity-primary;
@color-blue-200-text-color: @color-black;

@color-blue-300: #64B5F6;
@color-blue-300-opacity: @opacity-primary;
@color-blue-300-text-color: @color-black;

@color-blue-400: #42A5F5;
@color-blue-400-opacity: @opacity-primary;
@color-blue-400-text-color: @color-black;

@color-blue-500: #2196F3;
@color-blue-500-opacity: -1;
@color-blue-500-text-color: @color-white;

@color-blue-600: #1E88E5;
@color-blue-600-opacity: @opacity-primary;
@color-blue-600-text-color: @color-white;

@color-blue-700: #1976D2;
@color-blue-700-opacity: @opacity-primary;
@color-blue-700-text-color: @color-white;

@color-blue-800: #1565C0;
@color-blue-800-opacity: @opacity-primary;
@color-blue-800-text-color: @color-white;

@color-blue-900: #0D47A1;
@color-blue-900-opacity: @opacity-primary;
@color-blue-900-text-color: @color-white;

@color-blue-a100: #82B1FF;
@color-blue-a100-opacity: @opacity-primary;
@color-blue-a100-text-color: @color-black;

@color-blue-a200: #448AFF;
@color-blue-a200-opacity: -1;
@color-blue-a200-text-color: @color-white;

@color-blue-a400: #2979FF;
@color-blue-a400-opacity: @opacity-primary;
@color-blue-a400-text-color: @color-white;

@color-blue-a700: #2962FF;
@color-blue-a700-opacity: @opacity-primary;
@color-blue-a700-text-color: @color-white;

@color-blue: @color-blue-500;
@color-blue-opacity: -1;
@color-blue-text-color: @color-white;


@color-blue-hover: @color-blue-600;
@color-blue-active: @color-blue-700;