@color-cyan-50: #E0F7FA;
@color-cyan-50-opacity: @opacity-primary;
@color-cyan-50-text-color: @color-black;

@color-cyan-100: #B2EBF2;
@color-cyan-100-opacity: @opacity-primary;
@color-cyan-100-text-color: @color-black;

@color-cyan-200: #80DEEA;
@color-cyan-200-opacity: @opacity-primary;
@color-cyan-200-text-color: @color-black;

@color-cyan-300: #4DD0E1;
@color-cyan-300-opacity: @opacity-primary;
@color-cyan-300-text-color: @color-black;

@color-cyan-400: #26C6DA;
@color-cyan-400-opacity: @opacity-primary;
@color-cyan-400-text-color: @color-black;

@color-cyan-500: #00BCD4;
@color-cyan-500-opacity: @opacity-primary;
@color-cyan-500-text-color: @color-black;

@color-cyan-600: #00ACC1;
@color-cyan-600-opacity: @opacity-primary;
@color-cyan-600-text-color: @color-black;

@color-cyan-700: #0097A7;
@color-cyan-700-opacity: -1;
@color-cyan-700-text-color: @color-white;

@color-cyan-800: #00838F;
@color-cyan-800-opacity: -1;
@color-cyan-800-text-color: @color-white;

@color-cyan-900: #006064;
@color-cyan-900-opacity: -1;
@color-cyan-900-text-color: @color-white;

@color-cyan-a100: #84FFFF;
@color-cyan-a100-opacity: @opacity-primary;
@color-cyan-a100-text-color: @color-black;

@color-cyan-a200: #18FFFF;
@color-cyan-a200-opacity: @opacity-primary;
@color-cyan-a200-text-color: @color-black;

@color-cyan-a400: #00E5FF;
@color-cyan-a400-opacity: @opacity-primary;
@color-cyan-a400-text-color: @color-black;

@color-cyan-a700: #00B8D4;
@color-cyan-a700-opacity: @opacity-primary;
@color-cyan-a700-text-color: @color-black;

@color-cyan: @color-cyan-500;
@color-cyan-opacity: @opacity-primary;
@color-cyan-text-color: @color-black;

@color-cyan-hover: @color-cyan-600;
@color-cyan-active: @color-cyan-700;