@color-cyan-50: #E0F7FA;
@text-color-cyan-50: @color-black-text;

@color-cyan-100: #B2EBF2;
@text-color-cyan-100: @color-black-text;

@color-cyan-200: #80DEEA;
@text-color-cyan-200: @color-black-text;

@color-cyan-300: #4DD0E1;
@text-color-cyan-300: @color-black-text;

@color-cyan-400: #26C6DA;
@text-color-cyan-400: @color-black-text;

@color-cyan-500: #00BCD4;
@text-color-cyan-500: @color-black-text;

@color-cyan-600: #00ACC1;
@text-color-cyan-600: @color-black-text;

@color-cyan-700: #0097A7;
@text-color-cyan-700: @color-white-text;

@color-cyan-800: #00838F;
@text-color-cyan-800: @color-white-text;

@color-cyan-900: #006064;
@text-color-cyan-900: @color-white-text;

@color-cyan-a100: #84FFFF;
@text-color-cyan-a100: @color-black-text;

@color-cyan-a200: #18FFFF;
@text-color-cyan-a200: @color-black-text;

@color-cyan-a400: #00E5FF;
@text-color-cyan-a400: @color-black-text;

@color-cyan-a700: #00B8D4;
@text-color-cyan-a700: @color-black-text;

@color-cyan: @color-cyan-500;
@text-color-cyan: @text-color-cyan-500;

@color-cyan-hover: @color-cyan-600;
@color-cyan-active: @color-cyan-700;