@color-deep-purple-50: #EDE7F6;
@text-color-deep-purple-50: @color-black-text;

@color-deep-purple-100: #D1C4E9;
@text-color-deep-purple-100: @color-black-text;

@color-deep-purple-200: #B39DDB;
@text-color-deep-purple-200: @color-black-text;

@color-deep-purple-300: #9575CD;
@text-color-deep-purple-300: @color-white-text;

@color-deep-purple-400: #7E57C2;
@text-color-deep-purple-400: @color-white-text;

@color-deep-purple-500: #673AB7;
@text-color-deep-purple-500: @color-white-text;

@color-deep-purple-600: #5E35B1;
@text-color-deep-purple-600: @color-white-text;

@color-deep-purple-700: #512DA8;
@text-color-deep-purple-700: @color-white-text;

@color-deep-purple-800: #4527A0;
@text-color-deep-purple-800: @color-white-text;

@color-deep-purple-900: #311B92;
@text-color-deep-purple-900: @color-white-text;

@color-deep-purple-a100: #B388FF;
@text-color-deep-purple-a100: @color-black-text;

@color-deep-purple-a200: #7C4DFF;
@text-color-deep-purple-a200: @color-white-text;

@color-deep-purple-a400: #651FFF;
@text-color-deep-purple-a400: @color-white-text;

@color-deep-purple-a700: #6200EA;
@text-color-deep-purple-a700: @color-white-text;

@color-deep-purple: @color-deep-purple-500;
@text-color-deep-purple: @text-color-deep-purple-500;


@color-deep-purple-hover: @color-deep-purple-400;
@color-deep-purple-active: @color-deep-purple-300;