@color-deep-orange-50: #FBE9E7;
@text-color-deep-orange-50: @color-black-text;

@color-deep-orange-100: #FFCCBC;
@text-color-deep-orange-100: @color-black-text;

@color-deep-orange-200: #FFAB91;
@text-color-deep-orange-200: @color-black-text;

@color-deep-orange-300: #FF8A65;
@text-color-deep-orange-300: @color-black-text;

@color-deep-orange-400: #FF7043;
@text-color-deep-orange-400: @color-black-text;

@color-deep-orange-500: #FF5722;
@text-color-deep-orange-500: @color-white-text;

@color-deep-orange-600: #F4511E;
@text-color-deep-orange-600: @color-white-text;

@color-deep-orange-700: #E64A19;
@text-color-deep-orange-700: @color-white-text;

@color-deep-orange-800: #D84315;
@text-color-deep-orange-800: @color-white-text;

@color-deep-orange-900: #BF360C;
@text-color-deep-orange-900: @color-white-text;

@color-deep-orange-a100: #FF9E80;
@text-color-deep-orange-a100: @color-black-text;

@color-deep-orange-a200: #FF6E40;
@text-color-deep-orange-a200: @color-black-text;

@color-deep-orange-a400: #FF3D00;
@text-color-deep-orange-a400: @color-white-text;

@color-deep-orange-a700: #DD2C00;
@text-color-deep-orange-a700: @color-white-text;

@color-deep-orange: @color-deep-orange-500;
@text-color-deep-orange: @text-color-deep-orange-500;


@color-deep-orange-hover: @color-deep-orange-600;
@color-deep-orange-active: @color-deep-orange-700;