@color-deep-purple-50: #EDE7F6;
@color-deep-purple-50-opacity: @opacity-primary;
@color-deep-purple-50-text-color: @color-black;

@color-deep-purple-100: #D1C4E9;
@color-deep-purple-100-opacity: @opacity-primary;
@color-deep-purple-100-text-color: @color-black;

@color-deep-purple-200: #B39DDB;
@color-deep-purple-200-opacity: @opacity-primary;
@color-deep-purple-200-text-color: @color-black;

@color-deep-purple-300: #9575CD;
@color-deep-purple-300-opacity: -1;
@color-deep-purple-300-text-color: @color-white;

@color-deep-purple-400: #7E57C2;
@color-deep-purple-400-opacity: -1;
@color-deep-purple-400-text-color: @color-white;

@color-deep-purple-500: #673AB7;
@color-deep-purple-500-opacity: -1;
@color-deep-purple-500-text-color: @color-white;

@color-deep-purple-600: #5E35B1;
@color-deep-purple-600-opacity: -1;
@color-deep-purple-600-text-color: @color-white;

@color-deep-purple-700: #512DA8;
@color-deep-purple-700-opacity: -1;
@color-deep-purple-700-text-color: @color-white;

@color-deep-purple-800: #4527A0;
@color-deep-purple-800-opacity: -1;
@color-deep-purple-800-text-color: @color-white;

@color-deep-purple-900: #311B92;
@color-deep-purple-900-opacity: -1;
@color-deep-purple-900-text-color: @color-white;

@color-deep-purple-a100: #B388FF;
@color-deep-purple-a100-opacity: @opacity-primary;
@color-deep-purple-a100-text-color: @color-black;

@color-deep-purple-a200: #7C4DFF;
@color-deep-purple-a200-opacity: -1;
@color-deep-purple-a200-text-color: @color-white;

@color-deep-purple-a400: #651FFF;
@color-deep-purple-a400-opacity: -1;
@color-deep-purple-a400-text-color: @color-white;

@color-deep-purple-a700: #6200EA;
@color-deep-purple-a700-opacity: -1;
@color-deep-purple-a700-text-color: @color-white;

@color-deep-purple: @color-deep-purple-500;
@color-deep-purple-opacity: -1;
@color-deep-purple-text-color: @color-white;


@color-deep-purple-hover: @color-deep-purple-600;
@color-deep-purple-active: @color-deep-purple-700;