@color-green-50: #E8F5E9;
@color-green-50-opacity: @opacity-primary;
@color-green-50-text-color: @color-black;

@color-green-100: #C8E6C9;
@color-green-100-opacity: @opacity-primary;
@color-green-100-text-color: @color-black;

@color-green-200: #A5D6A7;
@color-green-200-opacity: @opacity-primary;
@color-green-200-text-color: @color-black;

@color-green-300: #81C784;
@color-green-300-opacity: @opacity-primary;
@color-green-300-text-color: @color-black;

@color-green-400: #66BB6A;
@color-green-400-opacity: @opacity-primary;
@color-green-400-text-color: @color-black;

@color-green-500: #4CAF50;
@color-green-500-opacity: @opacity-primary;
@color-green-500-text-color: @color-black;

@color-green-600: #43A047;
@color-green-600-opacity: -1;
@color-green-600-text-color: @color-white;

@color-green-700: #388E3C;
@color-green-700-opacity: -1;
@color-green-700-text-color: @color-white;

@color-green-800: #2E7D32;
@color-green-800-opacity: -1;
@color-green-800-text-color: @color-white;

@color-green-900: #1B5E20;
@color-green-900-opacity: -1;
@color-green-900-text-color: @color-white;

@color-green-a100: #B9F6CA;
@color-green-a100-opacity: @opacity-primary;
@color-green-a100-text-color: @color-black;

@color-green-a200: #69F0AE;
@color-green-a200-opacity: @opacity-primary;
@color-green-a200-text-color: @color-black;

@color-green-a400: #00E676;
@color-green-a400-opacity: @opacity-primary;
@color-green-a400-text-color: @color-black;

@color-green-a700: #00C853;
@color-green-a700-opacity: @opacity-primary;
@color-green-a700-text-color: @color-black;

@color-green: @color-green-500;
@color-green-opacity: @opacity-primary;
@color-green-text-color: @color-black;


@color-green-hover: @color-green-600;
@color-green-active: @color-green-700;