@color-green-50: #E8F5E9;
@text-color-green-50: @color-black-text;

@color-green-100: #C8E6C9;
@text-color-green-100: @color-black-text;

@color-green-200: #A5D6A7;
@text-color-green-200: @color-black-text;

@color-green-300: #81C784;
@text-color-green-300: @color-black-text;

@color-green-400: #66BB6A;
@text-color-green-400: @color-black-text;

@color-green-500: #4CAF50;
@text-color-green-500: @color-black-text;

@color-green-600: #43A047;
@text-color-green-600: @color-white-text;

@color-green-700: #388E3C;
@text-color-green-700: @color-white-text;

@color-green-800: #2E7D32;
@text-color-green-800: @color-white-text;

@color-green-900: #1B5E20;
@text-color-green-900: @color-white-text;

@color-green-a100: #B9F6CA;
@text-color-green-a100: @color-black-text;

@color-green-a200: #69F0AE;
@text-color-green-a200: @color-black-text;

@color-green-a400: #00E676;
@text-color-green-a400: @color-black-text;

@color-green-a700: #00C853;
@text-color-green-a700: @color-black-text;

@color-green: @color-green-500;
@text-color-green: @text-color-green-500;


@color-green-hover: @color-green-600;
@color-green-active: @color-green-700;