@color-grey-50: #FAFAFA;
@text-color-grey-50: @color-black-text;

@color-grey-100: #F5F5F5;
@text-color-grey-100: @color-black-text;

@color-grey-200: #EEEEEE;
@text-color-grey-200: @color-black-text;

@color-grey-300: #E0E0E0;
@text-color-grey-300: @color-black-text;

@color-grey-400: #BDBDBD;
@text-color-grey-400: @color-black-text;

@color-grey-500: #9E9E9E;
@text-color-grey-500: @color-black-text;

@color-grey-600: #757575;
@text-color-grey-600: @color-white-text;

@color-grey-700: #616161;
@text-color-grey-700: @color-white-text;

@color-grey-800: #424242;
@text-color-grey-800: @color-white-text;

@color-grey-900: #212121;
@text-color-grey-900: @color-white-text;

@color-grey: @color-grey-500;
@text-color-grey: @text-color-grey-500;

@color-grey-hover: @color-grey-600;
@color-grey-active: @color-grey-700;