@color-grey-50: #FAFAFA;
@color-grey-50-opacity: @opacity-primary;
@color-grey-50-text-color: @color-black;

@color-grey-100: #F5F5F5;
@color-grey-100-opacity: @opacity-primary;
@color-grey-100-text-color: @color-black;

@color-grey-200: #EEEEEE;
@color-grey-200-opacity: @opacity-primary;
@color-grey-200-text-color: @color-black;

@color-grey-300: #E0E0E0;
@color-grey-300-opacity: @opacity-primary;
@color-grey-300-text-color: @color-black;

@color-grey-400: #BDBDBD;
@color-grey-400-opacity: @opacity-primary;
@color-grey-400-text-color: @color-black;

@color-grey-500: #9E9E9E;
@color-grey-500-opacity: @opacity-primary;
@color-grey-500-text-color: @color-black;

@color-grey-600: #757575;
@color-grey-600-opacity: @opacity-primary;
@color-grey-600-text-color: @color-white;

@color-grey-700: #616161;
@color-grey-700-opacity: @opacity-primary;
@color-grey-700-text-color: @color-white;

@color-grey-800: #424242;
@color-grey-800-opacity: @opacity-primary;
@color-grey-800-text-color: @color-white;

@color-grey-900: #212121;
@color-grey-900-opacity: @opacity-primary;
@color-grey-900-text-color: @color-white;

@color-grey: @color-grey-500;
@color-grey-opacity: @opacity-primary;
@color-grey-text-color: @color-black;

@color-grey-hover: @color-grey-600;
@color-grey-active: @color-grey-700;