@color-indigo-50: #E8EAF6;
@text-color-indigo-50: @color-black-text;

@color-indigo-100: #C5CAE9;
@text-color-indigo-100: @color-black-text;

@color-indigo-200: #9FA8DA;
@text-color-indigo-200: @color-black-text;

@color-indigo-300: #7986CB;
@text-color-indigo-300: @color-white-text;

@color-indigo-400: #5C6BC0;
@text-color-indigo-400: @color-white-text;

@color-indigo-500: #3F51B5;
@text-color-indigo-500: @color-white-text;

@color-indigo-600: #3949AB;
@text-color-indigo-600: @color-white-text;

@color-indigo-700: #303F9F;
@text-color-indigo-700: @color-white-text;

@color-indigo-800: #283593;
@text-color-indigo-800: @color-white-text;

@color-indigo-900: #1A237E;
@text-color-indigo-900: @color-white-text;

@color-indigo-a100: #8C9EFF;
@text-color-indigo-a100: @color-black-text;

@color-indigo-a200: #536DFE;
@text-color-indigo-a200: @color-white-text;

@color-indigo-a400: #3D5AFE;
@text-color-indigo-a400: @color-white-text;

@color-indigo-a700: #304FFE;
@text-color-indigo-a700: @color-white-text;

@color-indigo: @color-indigo-500;
@text-color-indigo: @text-color-indigo-500;


@color-indigo-hover: @color-indigo-400;
@color-indigo-active: @color-indigo-300;