@color-indigo-50: #E8EAF6;
@color-indigo-50-opacity: @opacity-primary;
@color-indigo-50-text-color: @color-black;

@color-indigo-100: #C5CAE9;
@color-indigo-100-opacity: @opacity-primary;
@color-indigo-100-text-color: @color-black;

@color-indigo-200: #9FA8DA;
@color-indigo-200-opacity: @opacity-primary;
@color-indigo-200-text-color: @color-black;

@color-indigo-300: #7986CB;
@color-indigo-300-opacity: @opacity-primary;
@color-indigo-300-text-color: @color-white;

@color-indigo-400: #5C6BC0;
@color-indigo-400-opacity: @opacity-primary;
@color-indigo-400-text-color: @color-white;

@color-indigo-500: #3F51B5;
@color-indigo-500-opacity: @opacity-primary;
@color-indigo-500-text-color: @color-white;

@color-indigo-600: #3949AB;
@color-indigo-600-opacity: @opacity-primary;
@color-indigo-600-text-color: @color-white;

@color-indigo-700: #303F9F;
@color-indigo-700-opacity: @opacity-primary;
@color-indigo-700-text-color: @color-white;

@color-indigo-800: #283593;
@color-indigo-800-opacity: @opacity-primary;
@color-indigo-800-text-color: @color-white;

@color-indigo-900: #1A237E;
@color-indigo-900-opacity: @opacity-primary;
@color-indigo-900-text-color: @color-white;

@color-indigo-a100: #8C9EFF;
@color-indigo-a100-opacity: @opacity-primary;
@color-indigo-a100-text-color: @color-black;

@color-indigo-a200: #536DFE;
@color-indigo-a200-opacity: @opacity-primary;
@color-indigo-a200-text-color: @color-white;

@color-indigo-a400: #3D5AFE;
@color-indigo-a400-opacity: @opacity-primary;
@color-indigo-a400-text-color: @color-white;

@color-indigo-a700: #304FFE;
@color-indigo-a700-opacity: @opacity-primary;
@color-indigo-a700-text-color: @color-white;

@color-indigo: @color-indigo-500;
@color-indigo-opacity: @opacity-primary;
@color-indigo-text-color: @color-white;


@color-indigo-hover: @color-indigo-600;
@color-indigo-active: @color-indigo-700;