@color-light-green-50: #F1F8E9;
@text-color-light-green-50: @color-black-text;

@color-light-green-100: #DCEDC8;
@text-color-light-green-100: @color-black-text;

@color-light-green-200: #C5E1A5;
@text-color-light-green-200: @color-black-text;

@color-light-green-300: #AED581;
@text-color-light-green-300: @color-black-text;

@color-light-green-400: #9CCC65;
@text-color-light-green-400: @color-black-text;

@color-light-green-500: #8BC34A;
@text-color-light-green-500: @color-black-text;

@color-light-green-600: #7CB342;
@text-color-light-green-600: @color-black-text;

@color-light-green-700: #689F38;
@text-color-light-green-700: @color-white-text;

@color-light-green-800: #558B2F;
@text-color-light-green-800: @color-white-text;

@color-light-green-900: #33691E;
@text-color-light-green-900: @color-white-text;

@color-light-green-a100: #CCFF90;
@text-color-light-green-a100: @color-black-text;

@color-light-green-a200: #B2FF59;
@text-color-light-green-a200: @color-black-text;

@color-light-green-a400: #76FF03;
@text-color-light-green-a400: @color-black-text;

@color-light-green-a700: #64DD17;
@text-color-light-green-a700: @color-black-text;

@color-light-green: @color-light-green-500;
@text-color-light-green: @text-color-light-green-500;


@color-light-green-hover: @color-light-green-600;
@color-light-green-active: @color-light-green-700;