@color-light-blue-50: #E1F5FE;
@text-color-light-blue-50: @color-black-text;

@color-light-blue-100: #B3E5FC;
@text-color-light-blue-100: @color-black-text;

@color-light-blue-200: #81D4FA;
@text-color-light-blue-200: @color-black-text;

@color-light-blue-300: #4FC3F7;
@text-color-light-blue-300: @color-black-text;

@color-light-blue-400: #29B6F6;
@text-color-light-blue-400: @color-black-text;

@color-light-blue-500: #03A9F4;
@text-color-light-blue-500: @color-black-text;

@color-light-blue-600: #039BE5;
@text-color-light-blue-600: @color-white-text;

@color-light-blue-700: #0288D1;
@text-color-light-blue-700: @color-white-text;

@color-light-blue-800: #0277BD;
@text-color-light-blue-800: @color-white-text;

@color-light-blue-900: #01579B;
@text-color-light-blue-900: @color-white-text;

@color-light-blue-a100: #80D8FF;
@text-color-light-blue-a100: @color-black-text;

@color-light-blue-a200: #40C4FF;
@text-color-light-blue-a200: @color-black-text;

@color-light-blue-a400: #00B0FF;
@text-color-light-blue-a400: @color-black-text;

@color-light-blue-a700: #0091EA;
@text-color-light-blue-a700: @color-white-text;

@color-light-blue: @color-light-blue-500;
@text-color-light-blue: @text-color-light-blue-500;


@color-light-blue-hover: @color-light-blue-600;
@color-light-blue-active: @color-light-blue-700;