@color-light-green-50: #F1F8E9;
@color-light-green-50-opacity: @opacity-primary;
@color-light-green-50-text-color: @color-black;

@color-light-green-100: #DCEDC8;
@color-light-green-100-opacity: @opacity-primary;
@color-light-green-100-text-color: @color-black;

@color-light-green-200: #C5E1A5;
@color-light-green-200-opacity: @opacity-primary;
@color-light-green-200-text-color: @color-black;

@color-light-green-300: #AED581;
@color-light-green-300-opacity: @opacity-primary;
@color-light-green-300-text-color: @color-black;

@color-light-green-400: #9CCC65;
@color-light-green-400-opacity: @opacity-primary;
@color-light-green-400-text-color: @color-black;

@color-light-green-500: #8BC34A;
@color-light-green-500-opacity: @opacity-primary;
@color-light-green-500-text-color: @color-black;

@color-light-green-600: #7CB342;
@color-light-green-600-opacity: @opacity-primary;
@color-light-green-600-text-color: @color-black;

@color-light-green-700: #689F38;
@color-light-green-700-opacity: -1;
@color-light-green-700-text-color: @color-white;

@color-light-green-800: #558B2F;
@color-light-green-800-opacity: -1;
@color-light-green-800-text-color: @color-white;

@color-light-green-900: #33691E;
@color-light-green-900-opacity: -1;
@color-light-green-900-text-color: @color-white;

@color-light-green-a100: #CCFF90;
@color-light-green-a100-opacity: @opacity-primary;
@color-light-green-a100-text-color: @color-black;

@color-light-green-a200: #B2FF59;
@color-light-green-a200-opacity: @opacity-primary;
@color-light-green-a200-text-color: @color-black;

@color-light-green-a400: #76FF03;
@color-light-green-a400-opacity: @opacity-primary;
@color-light-green-a400-text-color: @color-black;

@color-light-green-a700: #64DD17;
@color-light-green-a700-opacity: @opacity-primary;
@color-light-green-a700-text-color: @color-black;

@color-light-green: @color-light-green-500;
@color-light-green-opacity: @opacity-primary;
@color-light-green-text-color: @color-black;


@color-light-green-hover: @color-light-green-600;
@color-light-green-active: @color-light-green-700;