@color-lime-50: #F9FBE7;
@color-lime-50-opacity: @opacity-primary;
@color-lime-50-text-color: @color-black;

@color-lime-100: #F0F4C3;
@color-lime-100-opacity: @opacity-primary;
@color-lime-100-text-color: @color-black;

@color-lime-200: #E6EE9C;
@color-lime-200-opacity: @opacity-primary;
@color-lime-200-text-color: @color-black;

@color-lime-300: #DCE775;
@color-lime-300-opacity: @opacity-primary;
@color-lime-300-text-color: @color-black;

@color-lime-400: #D4E157;
@color-lime-400-opacity: @opacity-primary;
@color-lime-400-text-color: @color-black;

@color-lime-500: #CDDC39;
@color-lime-500-opacity: @opacity-primary;
@color-lime-500-text-color: @color-black;

@color-lime-600: #C0CA33;
@color-lime-600-opacity: @opacity-primary;
@color-lime-600-text-color: @color-black;

@color-lime-700: #AFB42B;
@color-lime-700-opacity: @opacity-primary;
@color-lime-700-text-color: @color-black;

@color-lime-800: #9E9D24;
@color-lime-800-opacity: @opacity-primary;
@color-lime-800-text-color: @color-black;

@color-lime-900: #827717;
@color-lime-900-opacity: -1;
@color-lime-900-text-color: @color-white;

@color-lime-a100: #F4FF81;
@color-lime-a100-opacity: @opacity-primary;
@color-lime-a100-text-color: @color-black;

@color-lime-a200: #EEFF41;
@color-lime-a200-opacity: @opacity-primary;
@color-lime-a200-text-color: @color-black;

@color-lime-a400: #C6FF00;
@color-lime-a400-opacity: @opacity-primary;
@color-lime-a400-text-color: @color-black;

@color-lime-a700: #AEEA00;
@color-lime-a700-opacity: @opacity-primary;
@color-lime-a700-text-color: @color-black;

@color-lime: @color-lime-500;
@color-lime-opacity: @opacity-primary;
@color-lime-text-color: @color-black;


@color-lime-hover: @color-lime-600;
@color-lime-active: @color-lime-700;