@color-lime-50: #F9FBE7;
@text-color-lime-50: @color-black-text;

@color-lime-100: #F0F4C3;
@text-color-lime-100: @color-black-text;

@color-lime-200: #E6EE9C;
@text-color-lime-200: @color-black-text;

@color-lime-300: #DCE775;
@text-color-lime-300: @color-black-text;

@color-lime-400: #D4E157;
@text-color-lime-400: @color-black-text;

@color-lime-500: #CDDC39;
@text-color-lime-500: @color-black-text;

@color-lime-600: #C0CA33;
@text-color-lime-600: @color-black-text;

@color-lime-700: #AFB42B;
@text-color-lime-700: @color-black-text;

@color-lime-800: #9E9D24;
@text-color-lime-800: @color-black-text;

@color-lime-900: #827717;
@text-color-lime-900: @color-white-text;

@color-lime-a100: #F4FF81;
@text-color-lime-a100: @color-black-text;

@color-lime-a200: #EEFF41;
@text-color-lime-a200: @color-black-text;

@color-lime-a400: #C6FF00;
@text-color-lime-a400: @color-black-text;

@color-lime-a700: #AEEA00;
@text-color-lime-a700: @color-black-text;

@color-lime: @color-lime-500;
@text-color-lime: @text-color-lime-500;


@color-lime-hover: @color-lime-600;
@color-lime-active: @color-lime-700;