@color-orange-50: #FFF3E0;
@text-color-orange-50: @color-black-text;

@color-orange-100: #FFE0B2;
@text-color-orange-100: @color-black-text;

@color-orange-200: #FFCC80;
@text-color-orange-200: @color-black-text;

@color-orange-300: #FFB74D;
@text-color-orange-300: @color-black-text;

@color-orange-400: #FFA726;
@text-color-orange-400: @color-black-text;

@color-orange-500: #FF9800;
@text-color-orange-500: @color-black-text;

@color-orange-600: #FB8C00;
@text-color-orange-600: @color-black-text;

@color-orange-700: #F57C00;
@text-color-orange-700: @color-black-text;

@color-orange-800: #EF6C00;
@text-color-orange-800: @color-white-text;

@color-orange-900: #E65100;
@text-color-orange-900: @color-white-text;

@color-orange-a100: #FFD180;
@text-color-orange-a100: @color-black-text;

@color-orange-a200: #FFAB40;
@text-color-orange-a200: @color-black-text;

@color-orange-a400: #FF9100;
@text-color-orange-a400: @color-black-text;

@color-orange-a700: #FF6D00;
@text-color-orange-a700: @color-black-text;

@color-orange: @color-orange-500;
@text-color-orange: @text-color-orange-500;


@color-orange-hover: @color-orange-600;
@color-orange-active: @color-orange-700;