@color-pink-50: #FCE4EC;
@text-color-pink-50: @color-black-text;

@color-pink-100: #F8BBD0;
@text-color-pink-100: @color-black-text;

@color-pink-200: #F48FB1;
@text-color-pink-200: @color-black-text;

@color-pink-300: #F06292;
@text-color-pink-300: @color-white-text;

@color-pink-400: #EC407A;
@text-color-pink-400: @color-white-text;

@color-pink-500: #E91E63;
@text-color-pink-500: @color-white-text;

@color-pink-600: #D81B60;
@text-color-pink-600: @color-white-text;

@color-pink-700: #C2185B;
@text-color-pink-700: @color-white-text;

@color-pink-800: #AD1457;
@text-color-pink-800: @color-white-text;

@color-pink-900: #880E4F;
@text-color-pink-900: @color-white-text;

@color-pink-a100: #FF80AB;
@text-color-pink-a100: @color-black-text;

@color-pink-a200: #FF4081;
@text-color-pink-a200: @color-white-text;

@color-pink-a400: #F50057;
@text-color-pink-a400: @color-white-text;

@color-pink-a700: #C51162;
@text-color-pink-a700: @color-white-text;

@color-pink: @color-pink-500;
@text-color-pink: @text-color-pink-500;


@color-pink-hover: @color-pink-400;
@color-pink-active: @color-pink-300;