@color-pink-50: #FCE4EC;
@color-pink-50-opacity: @opacity-primary;
@color-pink-50-text-color: @color-black;

@color-pink-100: #F8BBD0;
@color-pink-100-opacity: @opacity-primary;
@color-pink-100-text-color: @color-black;

@color-pink-200: #F48FB1;
@color-pink-200-opacity: @opacity-primary;
@color-pink-200-text-color: @color-black;

@color-pink-300: #F06292;
@color-pink-300-opacity: -1;
@color-pink-300-text-color: @color-white;

@color-pink-400: #EC407A;
@color-pink-400-opacity: @opacity-primary;
@color-pink-400-text-color: @color-white;

@color-pink-500: #E91E63;
@color-pink-500-opacity: @opacity-primary;
@color-pink-500-text-color: @color-white;

@color-pink-600: #D81B60;
@color-pink-600-opacity: @opacity-primary;
@color-pink-600-text-color: @color-white;

@color-pink-700: #C2185B;
@color-pink-700-opacity: @opacity-primary;
@color-pink-700-text-color: @color-white;

@color-pink-800: #AD1457;
@color-pink-800-opacity: @opacity-primary;
@color-pink-800-text-color: @color-white;

@color-pink-900: #880E4F;
@color-pink-900-opacity: @opacity-primary;
@color-pink-900-text-color: @color-white;

@color-pink-a100: #FF80AB;
@color-pink-a100-opacity: @opacity-primary;
@color-pink-a100-text-color: @color-black;

@color-pink-a200: #FF4081;
@color-pink-a200-opacity: -1;
@color-pink-a200-text-color: @color-white;

@color-pink-a400: #F50057;
@color-pink-a400-opacity: @opacity-primary;
@color-pink-a400-text-color: @color-white;

@color-pink-a700: #C51162;
@color-pink-a700-opacity: @opacity-primary;
@color-pink-a700-text-color: @color-white;

@color-pink: @color-pink-500;
@color-pink-opacity: -1;
@color-pink-text-color: @color-white;


@color-pink-hover: @color-pink-600;
@color-pink-active: @color-pink-700;