@color-primary-50: @color-indigo-50;
@text-color-primary-50: @text-color-indigo-50;

@color-primary-100: @color-indigo-100;
@text-color-primary-100: @text-color-indigo-100;

@color-primary-200: @color-indigo-200;
@text-color-primary-200: @text-color-indigo-200;

@color-primary-300: @color-indigo-300;
@text-color-primary-300: @text-color-indigo-300;

@color-primary-400: @color-indigo-400;
@text-color-primary-400: @text-color-indigo-400;

@color-primary-500: @color-indigo-500;
@text-color-primary-500: @text-color-indigo-500;

@color-primary-600: @color-indigo-600;
@text-color-primary-600: @text-color-indigo-600;

@color-primary-700: @color-indigo-700;
@text-color-primary-700: @text-color-indigo-700;

@color-primary-800: @color-indigo-800;
@text-color-primary-800: @text-color-indigo-800;

@color-primary-900: @color-indigo-900;
@text-color-primary-900: @text-color-indigo-900;

@color-primary-a100: @color-indigo-a100;
@text-color-primary-a100: @text-color-indigo-a100;

@color-primary-a200: @color-indigo-a200;
@text-color-primary-a200: @text-color-indigo-a200;

@color-primary-a400: @color-indigo-a400;
@text-color-primary-a400: @text-color-indigo-a400;

@color-primary-a700: @color-indigo-a700;
@text-color-primary-a700: @text-color-indigo-a700;

@color-primary: @color-indigo;
@text-color-primary: @text-color-indigo;

@color-primary-hover: @color-indigo-hover;
@color-primary-active: @color-indigo-active;