@color-primary-50: @color-indigo-50;
@color-primary-50-opacity: @color-indigo-50-opacity;
@color-primary-50-text-color: @color-indigo-50-text-color;

@color-primary-100: @color-indigo-100;
@color-primary-100-opacity: @color-indigo-100-opacity;
@color-primary-100-text-color: @color-indigo-100-text-color;

@color-primary-200: @color-indigo-200;
@color-primary-200-opacity: @color-indigo-200-opacity;
@color-primary-200-text-color: @color-indigo-200-text-color;

@color-primary-300: @color-indigo-300;
@color-primary-300-opacity: @color-indigo-300-opacity;
@color-primary-300-text-color: @color-indigo-300-text-color;

@color-primary-400: @color-indigo-400;
@color-primary-400-opacity: @color-indigo-400-opacity;
@color-primary-400-text-color: @color-indigo-400-text-color;

@color-primary-500: @color-indigo-500;
@color-primary-500-opacity: @color-indigo-500-opacity;
@color-primary-500-text-color: @color-indigo-500-text-color;

@color-primary-600: @color-indigo-600;
@color-primary-600-opacity: @color-indigo-600-opacity;
@color-primary-600-text-color: @color-indigo-600-text-color;

@color-primary-700: @color-indigo-700;
@color-primary-700-opacity: @color-indigo-700-opacity;
@color-primary-700-text-color: @color-indigo-700-text-color;

@color-primary-800: @color-indigo-800;
@color-primary-800-opacity: @color-indigo-800-opacity;
@color-primary-800-text-color: @color-indigo-800-text-color;

@color-primary-900: @color-indigo-900;
@color-primary-900-opacity: @color-indigo-900-opacity;
@color-primary-900-text-color: @color-indigo-900-text-color;

@color-primary-a100: @color-indigo-a100;
@color-primary-a100-opacity: @color-indigo-a100-opacity;
@color-primary-a100-text-color: @color-indigo-a100-text-color;

@color-primary-a200: @color-indigo-a200;
@color-primary-a200-opacity: @color-indigo-a200-opacity;
@color-primary-a200-text-color: @color-indigo-a200-text-color;

@color-primary-a400: @color-indigo-a400;
@color-primary-a400-opacity: @color-indigo-a400-opacity;
@color-primary-a400-text-color: @color-indigo-a400-text-color;

@color-primary-a700: @color-indigo-a700;
@color-primary-a700-opacity: @color-indigo-a700-opacity;
@color-primary-a700-text-color: @color-indigo-a700-text-color;

@color-primary: @color-indigo;
@color-primary-opacity: @color-indigo-opacity;
@color-primary-text-color: @color-indigo-text-color;

@color-primary-hover: @color-indigo-hover;
@color-primary-active: @color-indigo-active;