@color-purple-50: #F3E5F5;
@text-color-purple-50: @color-black-text;

@color-purple-100: #E1BEE7;
@text-color-purple-100: @color-black-text;

@color-purple-200: #CE93D8;
@text-color-purple-200: @color-black-text;

@color-purple-300: #BA68C8;
@text-color-purple-300: @color-white-text;

@color-purple-400: #AB47BC;
@text-color-purple-400: @color-white-text;

@color-purple-500: #9C27B0;
@text-color-purple-500: @color-white-text;

@color-purple-600: #8E24AA;
@text-color-purple-600: @color-white-text;

@color-purple-700: #7B1FA2;
@text-color-purple-700: @color-white-text;

@color-purple-800: #6A1B9A;
@text-color-purple-800: @color-white-text;

@color-purple-900: #4A148C;
@text-color-purple-900: @color-white-text;

@color-purple-a100: #EA80FC;
@text-color-purple-a100: @color-black-text;

@color-purple-a200: #E040FB;
@text-color-purple-a200: @color-white-text;

@color-purple-a400: #D500F9;
@text-color-purple-a400: @color-white-text;

@color-purple-a700: #AA00FF;
@text-color-purple-a700: @color-white-text;

@color-purple: @color-purple-500;
@text-color-purple: @text-color-purple-500;


@color-purple-hover: @color-purple-600;
@color-purple-active: @color-purple-700;