@color-purple-50: #F3E5F5;
@color-purple-50-opacity: @opacity-primary;
@color-purple-50-text-color: -1;

@color-purple-100: #E1BEE7;
@color-purple-100-opacity: @opacity-primary;
@color-purple-100-text-color: -1;

@color-purple-200: #CE93D8;
@color-purple-200-opacity: @opacity-primary;
@color-purple-200-text-color: -1;

@color-purple-300: #BA68C8;
@color-purple-300-opacity: -1;
@color-purple-300-text-color: @color-white;

@color-purple-400: #AB47BC;
@color-purple-400-opacity: -1;
@color-purple-400-text-color: @color-white;

@color-purple-500: #9C27B0;
@color-purple-500-opacity: @opacity-primary;
@color-purple-500-text-color: @color-white;

@color-purple-600: #8E24AA;
@color-purple-600-opacity: @opacity-primary;
@color-purple-600-text-color: @color-white;

@color-purple-700: #7B1FA2;
@color-purple-700-opacity: @opacity-primary;
@color-purple-700-text-color: @color-white;

@color-purple-800: #6A1B9A;
@color-purple-800-opacity: @opacity-primary;
@color-purple-800-text-color: @color-white;

@color-purple-900: #4A148C;
@color-purple-900-opacity: @opacity-primary;
@color-purple-900-text-color: @color-white;

@color-purple-a100: #EA80FC;
@color-purple-a100-opacity: @opacity-primary;
@color-purple-a100-text-color: -1;

@color-purple-a200: #E040FB;
@color-purple-a200-opacity: -1;
@color-purple-a200-text-color: @color-white;

@color-purple-a400: #D500F9;
@color-purple-a400-opacity: @opacity-primary;
@color-purple-a400-text-color: @color-white;

@color-purple-a700: #AA00FF;
@color-purple-a700-opacity: @opacity-primary;
@color-purple-a700-text-color: @color-white;

@color-purple: @color-purple-500;
@color-purple-opacity: @opacity-primary;
@color-purple-text-color: @color-white;


@color-purple-hover: @color-purple-600;
@color-purple-active: @color-purple-700;