@color-red-50: #FFEBEE;
@text-color-red-50: @color-black-text;

@color-red-100: #FFCDD2;
@text-color-red-100: @color-black-text;

@color-red-200: #EF9A9A;
@text-color-red-200: @color-black-text;

@color-red-300: #E57373;
@text-color-red-300: @color-black-text;

@color-red-400: #EF5350;
@text-color-red-400: @color-white-text;

@color-red-500: #F44336;
@text-color-red-500: @color-white-text;

@color-red-600: #E53935;
@text-color-red-600: @color-white-text;

@color-red-700: #D32F2F;
@text-color-red-700: @color-white-text;

@color-red-800: #C62828;
@text-color-red-800: @color-white-text;

@color-red-900: #B71C1C;
@text-color-red-900: @color-white-text;

@color-red-a100: #FF8A80;
@text-color-red-a100: @color-black-text;

@color-red-a200: #FF5252;
@text-color-red-a200: @color-white-text;

@color-red-a400: #FF1744;
@text-color-red-a400: @color-white-text;

@color-red-a700: #D50000;
@text-color-red-a700: @color-white-text;

@color-red: @color-red-500;
@text-color-red: @text-color-red-500;


@color-red-hover: @color-red-400;
@color-red-active: @color-red-300;