@color-red-50: #FFEBEE;
@color-red-50-opacity: @opacity-primary;
@color-red-50-text-color: @color-black;

@color-red-100: #FFCDD2;
@color-red-100-opacity: @opacity-primary;
@color-red-100-text-color: @color-black;

@color-red-200: #EF9A9A;
@color-red-200-opacity: @opacity-primary;
@color-red-200-text-color: @color-black;

@color-red-300: #E57373;
@color-red-300-opacity: @opacity-primary;
@color-red-300-text-color: @color-black;

@color-red-400: #EF5350;
@color-red-400-opacity: -1;
@color-red-400-text-color: @color-white;

@color-red-500: #F44336;
@color-red-500-opacity: -1;
@color-red-500-text-color: @color-white;

@color-red-600: #E53935;
@color-red-600-opacity: -1;
@color-red-600-text-color: @color-white;

@color-red-700: #D32F2F;
@color-red-700-opacity: -1;
@color-red-700-text-color: @color-white;

@color-red-800: #C62828;
@color-red-800-opacity: -1;
@color-red-800-text-color: @color-white;

@color-red-900: #B71C1C;
@color-red-900-opacity: -1;
@color-red-900-text-color: @color-white;

@color-red-a100: #FF8A80;
@color-red-a100-opacity: @opacity-primary;
@color-red-a100-text-color: @color-black;

@color-red-a200: #FF5252;
@color-red-a200-opacity: -1;
@color-red-a200-text-color: @color-white;

@color-red-a400: #FF1744;
@color-red-a400-opacity: -1;
@color-red-a400-text-color: @color-white;

@color-red-a700: #D50000;
@color-red-a700-opacity: -1;
@color-red-a700-text-color: @color-white;

@color-red: @color-red-500;
@color-red-opacity: -1;
@color-red-text-color: @color-white;


@color-red-hover: @color-red-600;
@color-red-active: @color-red-700;