@color-teal-50: #E0F2F1;
@text-color-teal-50: @color-black-text;

@color-teal-100: #B2DFDB;
@text-color-teal-100: @color-black-text;

@color-teal-200: #80CBC4;
@text-color-teal-200: @color-black-text;

@color-teal-300: #4DB6AC;
@text-color-teal-300: @color-black-text;

@color-teal-400: #26A69A;
@text-color-teal-400: @color-black-text;

@color-teal-500: #009688;
@text-color-teal-500: @color-white-text;

@color-teal-600: #00897B;
@text-color-teal-600: @color-white-text;

@color-teal-700: #00796B;
@text-color-teal-700: @color-white-text;

@color-teal-800: #00695C;
@text-color-teal-800: @color-white-text;

@color-teal-900: #004D40;
@text-color-teal-900: @color-white-text;

@color-teal-a100: #A7FFEB;
@text-color-teal-a100: @color-black-text;

@color-teal-a200: #64FFDA;
@text-color-teal-a200: @color-black-text;

@color-teal-a400: #1DE9B6;
@text-color-teal-a400: @color-black-text;

@color-teal-a700: #00BFA5;
@text-color-teal-a700: @color-black-text;

@color-teal: @color-teal-500;
@text-color-teal: @text-color-teal-500;


@color-teal-hover: @color-teal-600;
@color-teal-active: @color-teal-700;