@color-white: #FFFFFF;

@color-white-text: rgba(255, 255, 255, @opacity-white-text);
@color-white-secondary: rgba(255, 255, 255, @opacity-white-secondary);
@color-white-disabled: rgba(255, 255, 255, @opacity-white-disabled);
@color-white-divider: rgba(255, 255, 255, @opacity-white-divider);