@color-white: #FFFFFF;

@color-white-text: #FFFFFF;
@color-white-secondary: rgba(255, 255, 255, 0.7);
@color-white-disabled: rgba(255, 255, 255, 0.3);
@color-white-divider: rgba(255, 255, 255, 0.12);

@color-transparent: transparent;