@color-yellow-50: #FFFDE7;
@color-yellow-50-opacity: @opacity-primary;
@color-yellow-50-text-color: -1;

@color-yellow-100: #FFF9C4;
@color-yellow-100-opacity: @opacity-primary;
@color-yellow-100-text-color: -1;

@color-yellow-200: #FFF59D;
@color-yellow-200-opacity: @opacity-primary;
@color-yellow-200-text-color: -1;

@color-yellow-300: #FFF176;
@color-yellow-300-opacity: @opacity-primary;
@color-yellow-300-text-color: -1;

@color-yellow-400: #FFEE58;
@color-yellow-400-opacity: @opacity-primary;
@color-yellow-400-text-color: -1;

@color-yellow-500: #FFEB3B;
@color-yellow-500-opacity: @opacity-primary;
@color-yellow-500-text-color: -1;

@color-yellow-600: #FDD835;
@color-yellow-600-opacity: @opacity-primary;
@color-yellow-600-text-color: -1;

@color-yellow-700: #FBC02D;
@color-yellow-700-opacity: @opacity-primary;
@color-yellow-700-text-color: -1;

@color-yellow-800: #F9A825;
@color-yellow-800-opacity: @opacity-primary;
@color-yellow-800-text-color: -1;

@color-yellow-900: #F57F17;
@color-yellow-900-opacity: @opacity-primary;
@color-yellow-900-text-color: -1;

@color-yellow-a100: #FFFF8D;
@color-yellow-a100-opacity: @opacity-primary;
@color-yellow-a100-text-color: -1;

@color-yellow-a200: #FFFF00;
@color-yellow-a200-opacity: @opacity-primary;
@color-yellow-a200-text-color: -1;

@color-yellow-a400: #FFEA00;
@color-yellow-a400-opacity: @opacity-primary;
@color-yellow-a400-text-color: -1;

@color-yellow-a700: #FFD600;
@color-yellow-a700-opacity: @opacity-primary;
@color-yellow-a700-text-color: -1;

@color-yellow: @color-yellow-500;
@color-yellow-opacity: @opacity-primary;
@color-yellow-text-color: -1;


@color-yellow-hover: @color-yellow-600;
@color-yellow-active: @color-yellow-700;