@color-yellow-50: #FFFDE7;
@text-color-yellow-50: @color-black-text;

@color-yellow-100: #FFF9C4;
@text-color-yellow-100: @color-black-text;

@color-yellow-200: #FFF59D;
@text-color-yellow-200: @color-black-text;

@color-yellow-300: #FFF176;
@text-color-yellow-300: @color-black-text;

@color-yellow-400: #FFEE58;
@text-color-yellow-400: @color-black-text;

@color-yellow-500: #FFEB3B;
@text-color-yellow-500: @color-black-text;

@color-yellow-600: #FDD835;
@text-color-yellow-600: @color-black-text;

@color-yellow-700: #FBC02D;
@text-color-yellow-700: @color-black-text;

@color-yellow-800: #F9A825;
@text-color-yellow-800: @color-black-text;

@color-yellow-900: #F57F17;
@text-color-yellow-900: @color-black-text;

@color-yellow-a100: #FFFF8D;
@text-color-yellow-a100: @color-black-text;

@color-yellow-a200: #FFFF00;
@text-color-yellow-a200: @color-black-text;

@color-yellow-a400: #FFEA00;
@text-color-yellow-a400: @color-black-text;

@color-yellow-a700: #FFD600;
@text-color-yellow-a700: @color-black-text;

@color-yellow: @color-yellow-500;
@text-color-yellow: @text-color-yellow-500;


@color-yellow-hover: @color-yellow-600;
@color-yellow-active: @color-yellow-700;