/**
 * =============================================================================
 * ************   Menu 菜单   ************
 * =============================================================================
 */

// 普通菜单宽度基数
@menu-simple-x: 56px;

// 级联菜单宽度基数
@menu-cascade-x: 64px;

/* 菜单 */
.mdui-menu {
  box-sizing: border-box;
  padding: 8px 0;
  font-size: 16px;
  .mdui-shadow(8);
  border-radius: 2px;
  width: @menu-simple-x * 3;
  background-color: #fff;
  list-style: none;
  display: none;

  // 菜单项目
  &>li>a {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    user-select: none;
    .mdui-text-truncate();

    &:hover {
      background-color: @color-grey-200;
    }
  }

  // 子菜单默认隐藏，阴影更深
  .mdui-menu {
    display: none;
    .mdui-shadow(9);
  }

  // 菜单中的分隔线，默认上下有 8px 的外边距
  .mdui-divider {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

/* 禁用菜单条目 */
.mdui-menu-disabled {
  cursor: default;
  color: @color-black-disabled !important;

  &:hover {
    background-color: inherit !important;
  }

  .mdui-icon {
    color: @color-black-icon-disabled;
  }
}

/* 菜单中的图标 */
.mdui-menu-icon {
  color: @color-black-icon;
  width: 42px;
  display: inline-block;
}

/* 菜单中的辅助文本或图标 */
.mdui-menu-helper {
  float: right;
}

/* 有子菜单的条目的图标 */
.mdui-menu-more {
  float: right;
  &:before {
    content: '►';
    font-size: 70%;
    color: @color-black-icon;
  }
}


/* 级联菜单 */
.mdui-menu-cascade {
  padding: 16px 0;
  font-size: 15px;
  width: @menu-cascade-x * 5;

  &>li>a {
    height: 32px;
    line-height: 32px;
    padding: 0 24px;
  }

  .mdui-menu-icon {
    width: 40px;
  }
}

/* 菜单宽度 */
.mdui-menu-1x {
  width: @menu-simple-x * 1;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 1;
  }
}
.mdui-menu-2x {
  width: @menu-simple-x * 2;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 2;
  }
}
.mdui-menu-3x {
  width: @menu-simple-x * 3;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 3;
  }
}
.mdui-menu-4x {
  width: @menu-simple-x * 4;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 4;
  }
}
.mdui-menu-5x {
  width: @menu-simple-x * 5;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 5;
  }
}
.mdui-menu-6x {
  width: @menu-simple-x * 6;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 6;
  }
}
.mdui-menu-7x {
  width: @menu-simple-x * 7;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 7;
  }
}
.mdui-menu-8x {
  width: @menu-simple-x * 8;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 8;
  }
}
.mdui-menu-9x {
  width: @menu-simple-x * 9;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 9;
  }
}
.mdui-menu-10x {
  width: @menu-simple-x * 10;

  .mdui-menu-cascade & {
    width: @menu-cascade-x * 10;
  }
}