@import "~@mdui/shared/mixin.less";

:host {
  position: relative;
  z-index: 0;
  flex: 1;
  overflow: hidden;
  .minWidth(48);
  .stateLayerColor(on-surface-variant);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  transition: padding 225ms var(--mdui-sys-motion-easing-standard);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  .paddingTop(12);
  .paddingBottom(12);
}

.indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  .height(32);
  .width(32);
  .shapeCorner(full);
}

.indicator,
:host([active]) .indicator {
  transition: background-color 75ms var(--mdui-sys-motion-easing-decelerate), width 225ms var(--mdui-sys-motion-easing-decelerate);
}

.dot,
.badge {
  position: absolute;
  .translate(12, -12);
  .backgroundColor(error);
}

.dot {
  .width(6);
  .height(6);
  .shapeCorner(full);
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .paddingLeft(4);
  .paddingRight(4);
  .color(on-error);
  .height(16);
  .minWidth(16);
  .shapeCorner(full);
  .typescale(label-small);
}

.icon,
.active-icon,
::slotted([slot="icon"]),
::slotted([slot="activeIcon"]) {
  .color(on-surface-variant);
  .fontSize(24);
}

.active-icon,
::slotted([slot="activeIcon"]) {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  transition: opacity 300ms var(--mdui-sys-motion-easing-standard);
  .height(16);
  .color(on-surface-variant);
  .marginTop(4);
  .marginBottom(4);
  .typescale(label-medium);
}

:host([labelVisibility="unlabeled"]),
:host([labelVisibility="selected"]:not([active])) {
  .item {
    .paddingTop(24);
    .paddingBottom(0);
  }

  .label {
    opacity: 0;
  }
}

:host([active]) {
  .stateLayerColor(on-surface);

  .indicator {
    .width(64);
    .backgroundColor(secondary-container);
  }

  .icon,
  .active-icon,
  ::slotted([slot="icon"]),
  ::slotted([slot="activeIcon"]) {
    .color(on-secondary-container);
  }

  .has-active-icon {
    .active-icon,
    ::slotted([slot="activeIcon"]) {
      display: inline-block;
    }

    .icon,
    ::slotted([slot="icon"]) {
      display: none;
    }
  }

  .label {
    .color(on-surface);
  }
}
