<!doctype html>
<html lang="zh">

<head>
  <title>Badge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <style>
    body {
      font-family: Roboto;
    }
  </style>
  <script type="module">
    import '../../packages/mdui/mdui.css';
    import '../../packages/mdui/components/badge.js';
  </script>
</head>

<body>
  <main>
    <section>
      <h2>variant="small"</h2>
      <mdui-badge variant="small"></mdui-badge>
      <mdui-badge variant="small">value</mdui-badge>
    </section>

    <section>
      <h2>Badge</h2>
      <mdui-badge>0</mdui-badge>
      <mdui-badge>99+</mdui-badge>
      <mdui-badge>hahaha</mdui-badge>
    </section>
  </main>
</body>

</html>
