<!doctype html>
<html lang="zh">
<head>
  <title>List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <script type="module" src="../../packages/mdui/mdui.css"></script>
  <script type="module" src="../../packages/components/index.js"></script>
  <style>
    body {
      font-family: Roboto;
    }

    mdui-list {
      width: 360px;
    }

    @media (max-width: 750px) {
      mdui-list {
        width: 100%;
      }
    }
  </style>
  <script>
    const onNonclickableChange = () => {
      const changeNonclickable = document.getElementById('change-nonclickable');
      document.querySelectorAll('mdui-list').forEach(element => {
        element.nonclickable = changeNonclickable.checked;
      });
    }
    const onRoundedChange = () => {
      const changeRounded = document.getElementById('change-rounded');
      document.querySelectorAll('mdui-list').forEach(element => {
        element.rounded = changeRounded.checked;
      })
    }
  </script>
</head>
<body>
<main>
  <section>
    <mdui-checkbox id="change-nonclickable" onchange="onNonclickableChange()">不可点击</mdui-checkbox>
    <mdui-checkbox id="change-rounded" onchange="onRoundedChange()">圆角</mdui-checkbox>
  </section>

  <section>
    <h2>Single line</h2>
    <mdui-list>
      <mdui-list-subheader>Normal</mdui-list-subheader>
      <mdui-list-item primary="List item"></mdui-list-item>
      <mdui-list-item disabled primary="List item disabled"></mdui-list-item>
      <mdui-list-item nonclickable primary="List item nonclickable"></mdui-list-item>
      <mdui-list-item active primary="List item active"></mdui-list-item>
      <mdui-list-item primary="List item long long long long long long long long long long"></mdui-list-item>

      <mdui-divider></mdui-divider>
      <mdui-list-subheader>Link</mdui-list-subheader>
      <mdui-list-item href="https://www.mdui.org" primary="Link"></mdui-list-item>
      <mdui-list-item href="https://www.mdui.org" disabled primary="Link disabled"></mdui-list-item>
      <mdui-list-item href="https://www.mdui.org" nonclickable primary="Link nonclickable"></mdui-list-item>
      <mdui-list-item href="https://www.mdui.org" active primary="Link active"></mdui-list-item>
      <mdui-list-item href="https://www.mdui.org" primary="Link active long long long long long long long long long"></mdui-list-item>
    </mdui-list>
  </section>

  <section>
    <h2>With secondary</h2>
    <mdui-list>
      <mdui-list-subheader>Normal</mdui-list-subheader>
      <mdui-list-item primary="List item" secondary="secondary"></mdui-list-item>
      <mdui-list-item disabled primary="List item disabled" secondary="secondary"></mdui-list-item>
      <mdui-list-item nonclickable primary="List item nonclickable" secondary="secondary"></mdui-list-item>
      <mdui-list-item active primary="List item active" secondary="secondary"></mdui-list-item>
      <mdui-list-item primary="List item long long long long long long long long" secondary="secondary long long long long long long long long"></mdui-list-item>

      <mdui-divider></mdui-divider>
      <mdui-list-subheader>Link</mdui-list-subheader>
      <mdui-list-item href="https://www.mdui.org" primary="Link" secondary="secondary"></mdui-list-item>
      <mdui-list-item href="https://www.mdui.org" disabled primary="Link disabled" secondary="secondary"></mdui-list-item>
      <mdui-list-item href="https://www.mdui.org" nonclickable primary="Link nonclickable" secondary="secondary"></mdui-list-item>
      <mdui-list-item href="https://www.mdui.org" active primary="Link active" secondary="secondary"></mdui-list-item>
      <mdui-list-item href="https://www.mdui.org" primary="Link active long long long long long long long long long" secondary="secondary long long long long long long long long long"></mdui-list-item>
    </mdui-list>
  </section>

  <section>
    <h2>primary and secondary with html</h2>
    <mdui-list>
      <mdui-list-item>
        <div slot="primary" style="color: red">Brunch this weekend?</div>
        <div slot="secondary" style="font-size: 14px;"><span style="font-weight: bold; font-size: 12px;">Ali Connors — </span>I'll be in your neighborhood doing errands this weekend. Do you want to hang out?</div>
      </mdui-list-item>
    </mdui-list>
  </section>

  <section>
    <h2>Custom content</h2>
    <mdui-list>
      <mdui-list-item>
        <div style="display: flex;">
          <img src="https://avatars.githubusercontent.com/u/3030330?s=40&v=4"/>
          <div class="title">test</div>
        </div>
      </mdui-list-item>
    </mdui-list>
  </section>

  <section>
    <h2>With start slot</h2>
    <mdui-list>
      <mdui-list-item primary="List item">
        <mdui-checkbox slot="start" tabindex="-1"></mdui-checkbox>
      </mdui-list-item>
      <mdui-list-item primary="List item" secondary="secondary">
        <mdui-radio slot="start"></mdui-radio>
      </mdui-list-item>
      <mdui-list-item primary="List item long long long long long long long long long long" secondary="secondary long long long long long long long long long long long long">
        <mdui-switch slot="start"></mdui-switch>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <mdui-icon slot="start" name="settings"></mdui-icon>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <mdui-avatar slot="start" src="https://avatars.githubusercontent.com/u/3030330?s=40&v=4"></mdui-avatar>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <img slot="start" src="https://avatars.githubusercontent.com/u/3030330?s=40&v=4"/>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <span slot="start">text</span>
      </mdui-list-item>
    </mdui-list>
  </section>

  <section>
    <h2>With end slot</h2>
    <mdui-list>
      <mdui-list-item primary="List item">
        <mdui-checkbox slot="end"></mdui-checkbox>
      </mdui-list-item>
      <mdui-list-item primary="List item" secondary="secondary">
        <mdui-radio slot="end"></mdui-radio>
      </mdui-list-item>
      <mdui-list-item primary="List item long long long long long long long long long long" secondary="secondary long long long long long long long long long long long long">
        <mdui-switch slot="end"></mdui-switch>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <mdui-icon slot="end" name="settings"></mdui-icon>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <mdui-avatar slot="end" src="https://avatars.githubusercontent.com/u/3030330?s=40&v=4"></mdui-avatar>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <img slot="end" src="https://avatars.githubusercontent.com/u/3030330?s=40&v=4"/>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <span slot="end">text</span>
      </mdui-list-item>
    </mdui-list>
  </section>

  <section>
    <h2>With start and end slot</h2>
    <mdui-list>
      <mdui-list-item primary="List item">
        <mdui-checkbox slot="start"></mdui-checkbox>
        <span slot="end">text</span>
      </mdui-list-item>
      <mdui-list-item primary="List item" secondary="secondary">
        <mdui-radio slot="start"></mdui-radio>
        <mdui-icon slot="end" name="settings"></mdui-icon>
      </mdui-list-item>
      <mdui-list-item primary="List item long long long long long long long long long long" secondary="secondary long long long long long long long long long long long long">
        <mdui-avatar slot="start" src="https://avatars.githubusercontent.com/u/3030330?s=40&v=4"></mdui-avatar>
        <mdui-switch slot="end"></mdui-switch>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <mdui-icon slot="start" name="settings"></mdui-icon>
        <span slot="end">text</span>
      </mdui-list-item>
      <mdui-list-item primary="List item">
        <img slot="start" src="https://avatars.githubusercontent.com/u/3030330?s=40&v=4"/>
        <mdui-checkbox slot="end"></mdui-checkbox>
      </mdui-list-item>
    </mdui-list>
  </section>
</main>
</body>
</html>
