<!doctype html>
<html lang="zh">
<head>
  <title>Radio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <script type="module" src="../../packages/mdui/mdui.css"></script>
  <script type="module" src="../../packages/components/index.js"></script>
</head>
<body>
<main>
  <section>
    <h2>Radio</h2>
    <mdui-radio name="radio1"></mdui-radio>
    <mdui-radio name="radio1">Radio</mdui-radio>
    <mdui-radio disabled></mdui-radio>
    <mdui-radio disabled>Radio</mdui-radio>
  </section>

  <section>
    <h2>Radio</h2>
    <mdui-radio checked name="radio2"></mdui-radio>
    <mdui-radio checked name="radio2">Radio</mdui-radio>
    <mdui-radio checked disabled></mdui-radio>
    <mdui-radio checked disabled>Radio</mdui-radio>
  </section>

</main>
</body>
</html>
