<!doctype html>
<html lang="zh">
<head>
  <title>Surface</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
  <script type="module" src="../../packages/mdui/mdui.css"></script>
  <script type="module" src="../../packages/components/index.js"></script>
</head>
<body>
<div>
  <h2>Surface</h2>
  <mdui-surface elevation="2" style="width: 100px;height: 100px;"></mdui-surface>
  <mdui-surface elevation="8" style="width: 100px;height: 100px;"></mdui-surface>
  <mdui-surface elevation="2" ripple style="width: 100px;height: 100px;"></mdui-surface>

  <h3>Slot</h3>
  <mdui-surface>
    <mdui-button>test</mdui-button>
  </mdui-surface>
</div>


</body>
</html>
