<!doctype html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
  <meta name="renderer" content="webkit"/>
  <meta name="force-rendering" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <script type="module" src="../../packages/components/index.js"></script>
</head>
<body>
<div id="demo">
  <h2>Surface</h2>
  <mdui-surface elevation="2" style="width: 100px;height: 100px;"></mdui-surface>
  <mdui-surface elevation="8" style="width: 100px;height: 100px;"></mdui-surface>
  <mdui-surface elevation="2" ripple style="width: 100px;height: 100px;"></mdui-surface>

  <h3>Slot</h3>
  <mdui-surface>
    <mdui-button>test</mdui-button>
  </mdui-surface>
</div>


</body>
</html>
