<!doctype html>
<html lang="zh">
<head>
  <title>Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <script type="module" src="../../packages/mdui/mdui.css"></script>
  <script type="module" src="../../packages/components/index.js"></script>
  <style>
    body {
      font-family: Roboto;
    }
  </style>
</head>
<body>
<main>
  <section>
    <h2>图片</h2>
    <mdui-table>
      <table>
        <thead>
        <tr>
          <th class="text-left">
            Name
          </th>
          <th class="text-left">
            Calories
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>item.name</td>
          <td>item.calories</td>
        </tr>
        </tbody>
      </table>
    </mdui-table>
  </section>
</main>
</body>
</html>
