<!doctype html>
<html lang="zh">

<head>
  <title>Top App Bar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <style>
    body {
      font-family: Roboto;
    }
  </style>
  <script type="module">
    import '../../packages/mdui/mdui.css';
    import '../../packages/components/top-app-bar.js';
    import '../../packages/components/top-app-bar-title.js';
    import '../../packages/components/icon-button.js';
    import '../../packages/components/button.js';
    import '../../packages/components/segmented-button.js';
    import '../../packages/components/segmented-button-item.js';
    import '../../packages/components/avatar.js';
    import '../../packages/components/dropdown.js';
    import '../../packages/components/menu.js';
    import '../../packages/components/menu-item.js';
    import { $ } from '../../packages/jq/$.js';
    import '../../packages/jq/methods/on.js';
    import '../../packages/jq/methods/prev.js';
    import '../../packages/jq/methods/css.js';

    $('#change-variant').on('change', (e) => {
      $('#change-variant-appbar')[0].variant = e.target.value;
    });

    $('.to-fixed').on('click', function () {
      $('mdui-top-app-bar').css({
        position: 'relative',
        zIndex: undefined
      });
      $(this).prev().css({
        position: 'fixed',
        zIndex: 999999
      });
    });
  </script>
</head>

<body>
  <main>
    <section style="height: 64px"></section>
    <section>
      <h2>center-aligned</h2>
      <mdui-top-app-bar variant="center-aligned" style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Title Large</mdui-top-app-bar-title>
        <mdui-avatar src="https://avatars.githubusercontent.com/u/3030330?s=40&v=4"></mdui-avatar>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>small</h2>
      <mdui-top-app-bar variant="small" style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Title Large</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>medium</h2>
      <mdui-top-app-bar variant="medium" style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Headline Small</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>large</h2>
      <mdui-top-app-bar variant="large" style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Headline Medium</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>with overflow menu</h2>
      <mdui-top-app-bar variant="center-aligned" style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Title Large</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-dropdown>
          <mdui-icon-button icon="more_vert" slot="trigger"></mdui-icon-button>
          <mdui-menu>
            <mdui-menu-item>Settings</mdui-menu-item>
            <mdui-menu-item>Send Feedback</mdui-menu-item>
            <mdui-menu-item>Help</mdui-menu-item>
          </mdui-menu>
        </mdui-dropdown>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>hide-on-scroll & center-aligned</h2>
      <mdui-top-app-bar variant="center-aligned" hide-on-scroll style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Title Large</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>hide-on-scroll & small</h2>
      <mdui-top-app-bar variant="small" hide-on-scroll style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Title Large</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>hide-on-scroll & medium</h2>
      <mdui-top-app-bar variant="medium" hide-on-scroll style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Title Large</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>hide-on-scroll & large</h2>
      <mdui-top-app-bar variant="large" hide-on-scroll style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Title Large</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>compact-on-scroll & medium</h2>
      <mdui-top-app-bar variant="medium" compact-on-scroll style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Hiking Trips with Elie in Santa Monica and Joshua Tree!</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>compact-on-scroll & large</h2>
      <mdui-top-app-bar variant="large" compact-on-scroll style="position: relative">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Hiking Trips with Elie in Santa Monica and Joshua Tree! Hiking Trips with Elie in Santa
          Monica and Joshua Tree!</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
    </section>

    <section>
      <h2>variant 切换</h2>
      <mdui-top-app-bar variant="center-aligned" style="position: relative" id="change-variant-appbar">
        <mdui-icon-button icon="menu"></mdui-icon-button>
        <mdui-top-app-bar-title>Hiking Trips with Elie in Santa Monica and Joshua Tree! Hiking Trips with Elie in Santa
          Monica and Joshua Tree!</mdui-top-app-bar-title>
        <mdui-icon-button icon="attach_file"></mdui-icon-button>
        <mdui-icon-button icon="today"></mdui-icon-button>
        <mdui-icon-button icon="more_vert"></mdui-icon-button>
      </mdui-top-app-bar>
      <mdui-button class="to-fixed">fixed</mdui-button>
      <br />
      <mdui-segmented-button value="center-aligned" selects="single" id="change-variant">
        <mdui-segmented-button-item value="center-aligned">center-aligned</mdui-segmented-button-item>
        <mdui-segmented-button-item value="small">small</mdui-segmented-button-item>
        <mdui-segmented-button-item value="medium">medium</mdui-segmented-button-item>
        <mdui-segmented-button-item value="large">large</mdui-segmented-button-item>
      </mdui-segmented-button>
    </section>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

  </main>
</body>

</html>
